/* Code credits */
/* Thank you to the following user's public CSS help threads for contributing to the code. */
/* #276513, #41458, #2230, #251887, #106445, #94329, #144118, #139 */

/* FONT (From Google Fonts) */

/*MOBILE BACKGROUND*/
@media only screen and (max-width: 800px){
body {
	background: url('https://i.postimg.cc/m20Lcg4b/Live-Racing-1120x610.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;

}

/* Code from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/43058483#43058483 */
html:not(.nolayout) body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top: 0;
	height: 200vh; /* fix for mobile browser address bar appearing disappearing */
	left: 0;
	right: 0;
	z-index:-1; /* needed to keep in the background */
	background: url('https://i.postimg.cc/m20Lcg4b/Live-Racing-1120x610.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff !important;

}

}

/* DESKTOP BACKGROUND */
@media only screen and (min-width: 801px){
body {
	background: url('https://i.postimg.cc/m20Lcg4b/Live-Racing-1120x610.jpg') center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* safari may need this */
	font-size: 18px !important;
	color: #ffffff;

}

}

/* Comment Background Box */
div#commentBox{
	background: rgba(135, 119, 103, 0.7) !important;
	border-radius: 0px;
	color: #ffffff;
	border: solid #5C4838 2px !important;
	box-shadow: 2px 2px 1px #5C4838 !important;
	
}

/* Leave Comment Background */
div#makeComment {
	border-radius: 0px;
	margin-bottom: 10px;
	visibility: hidden;
	
}

/* Leave Comment Input Box */
input#comment {
	visibility: visible;
	background: #877767 !important;
	border: solid 3px #5C4838 !important;
	border-radius: 0px;
	
}

/* Color behind the content of the elements listed above */
input, select, textarea {
	background: #877767 !important;
	border: solid 3px #5C4838 !important;
	border-radius: 0px;
	color: #ffffff !important;
	text-shadow: none !important
	box-shadow: none !important;
	font-size: 15px !important;

}

/* ODD COMMENTS */
.comment:nth-child(odd) {
	background: rgba(0,0,0, 0.1) !important;
	font-size: 13px !important;
	
}

/* EVEN COMMENTS */
.comment:nth-child(even) {
	background: rgba(0,0,0, 0.2) !important;
    font-size: 13px !important;


}

.text-muted {
	color: #ffffff !important;

}

/* MAIN PANEL */
/* RIGHT SIDE */
.container.main {
	background: rgba(0,0,0, 0.3) !important;
	color: #ffffff;
	border: solid #000000 1px !important;
	border-radius: 5px;
	box-shadow: none;

}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none

}

/* TOPBAR ("Welcome back, ___") */
.topbar {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	border-radius: 0px;
	padding: 10px;

}

/* NAVBAR (Den/Crossroads/Etc.) */
.navbar {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 0.8) 0%, rgba(92, 72, 56, 0.8) 1%, rgba(135, 119, 103, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	border-radius: 0px;
	padding: 5px;
	
}

/* NAVBAR BUTTONS */
.navbar,.navbar-default .navbar-nav > li > a {
	background: none;
	color: #ffffff !important;
	font-size: 16px;
	padding: none;
	transition: 0.2s ease-in-out;

}

/* NAVBAR HOVER BUTTONS */
.navbar-default .navbar-nav > li > a:hover {
	background: none;
	color: #EE9389 !important;
	text-shadow: 1px 1px 2px #DE5E5B, 0 0 1em #DE5E5B, 0 0 0.2em #DE5E5B !important; 
	border-radius: 0px;
	transition: 0.2s ease-out;
	box-shadow: none;

}

/* SPECIFIC NAVBAR HOVER BUTTON */
.navbar-nav li:nth-child(0n+#) a:hover {
	background: /* COLOR */;
	
}

/* BREADCRUMB (Home / Den) */
.breadcrumb {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	border-radius: 0px;
}

/* BREADCRUMB TEXT */
.breadcrumb .active {
	color: #ffffff

}

/* ALL BUTTONS */
.select-control,button.button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	visibility: visible !important;
	background: #5C4838 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #1a2e1d !important;
	border-radius: 0px !important;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	transition: 0.3s ease;

}

/* ALL HOVER BUTTONS */
button.button:hover, input:hover[type="submit"], input:hover[type="reset"], input:hover[type="button"], a.button:hover {
	visibility: visible !important;
	background: #877767 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #1a2e1d !important;
	border-radius: 0px !important;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	transition: 0.3s ease;
	
}

.alert-warning, .alert-danger, .alert {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff !important;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	border-radius: 5px !important;

}

*/ Message Counter Notification */
.badge {
    background: #647163 !important;

}

/* BIGGEST HEADER ("___"'s DEN) */
h1 {
	background: none !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000; 
	text-align: center;
	font-size: 50px;
    

}

h1 small {
    color: #ffffff !important;

}

/* MEDIUM HEADER */
h2 {
	color: #ffffff !important;
	font-size: 20px;
	text-align: center

}

/* SMALL HEADER */
h3 {
	color: #ffffff !important;
	font-size: 15px !important

}

/* PANEL HEADER */
.sidebar h3 {
	color: #fff !important;
	font-size: 20px !important;
	transition: 0.3s;


}

/* ALL RIGHT SIDE PANELS */
.panel {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 0.8) 0%, rgba(92, 72, 56, 0.8) 1%, rgba(135, 119, 103, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	padding: 10px !important;

}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #000000 !important;
	border-radius: 10px !important;
	border: solid 1px #000000 !important;
	padding 4px;
    
}

/* ENERGY BAR TEXT */
.progress div {
    color: #ffffff !important;
    
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
 
/* ENERGY */
 div.progress-bar-warning {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;

}
 
/* HUNGER */
 div.progress-bar-danger {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;
     
}
 
/* EXP. */
 div.progress-bar-success {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;
    
}
 
/* IMP. (Controlls All) */
 div.progress-bar {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;
    
}
 
 
/* ACHIEVMENTS */
div:nth-child(2)>div>div>div.progress-bar.progress-bar-success {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;
    
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(0,0,0, 0.4) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message:nth-child(odd), .s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(0,0,0, 0.2) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message__pinned,#chatMessagePinned.s-chat-message__pinned .s-chat-message_content /* Pinned Message */ {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 1) 0%, rgba(92, 72, 56, 1) 1%, rgba(135, 119, 103, 1) 100%) !important;
	color: #ffffff;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	
}


button#label_currentChannel, .s-chat-sidebar #label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(102, 102, 102, 1) 1%, rgba(161, 161, 161, 1) 100%) !important;
	color: #fff;
	border: 1px solid #9c4133 !important;
	border-radius: 0px !important;

}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */
/* PANEL BACKGROUND COLOR */
.table {
	background: rgba(0,0,0, 0.4);
	color: #ffffff;
	border-radius: 5px;
	border: solid #000 1px;
	box-shadow: 2px 2px 1px #000 !important;
	padding: 5px;

}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top, th {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 0.8) 0%, rgba(92, 72, 56, 0.8) 1%, rgba(135, 119, 103, 0.8) 100%) !important;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px !important;
    
}

.bottom {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 0.8) 0%, rgba(92, 72, 56, 0.8) 1%, rgba(135, 119, 103, 0.8) 100%) !important;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px;

}

td.bottom a {
        text-decoration: none !important

}

/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
	background: #473527;
	background: linear-gradient(0deg,rgba(71, 53, 39, 0.8) 0%, rgba(92, 72, 56, 0.8) 1%, rgba(135, 119, 103, 0.8) 100%) !important;
	border: solid #473527 1px !important;
	box-shadow: 2px 2px 1px #473527 !important;
	border-radius: 0px;
	font-size: 15px;

}

/* Color behind the number of all of the things above */
.inner-table .right {
	background: rgba(0,0,0,0.0) !important;
	border-radius: 0px;
	border: none !important;
	box-shadow: none !important;    
	font-size: 15px;


}

td.right {
	border-radius: 0px !important

}

/* IGNORE */
.right_odd {
	background: none !important

}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid, .mound-grid {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	border-radius: 0px;
	opacity: 0.9 !important;
	transition: 0.3s ease;

}

div.cave-grid:hover, .mound-grid:hover {
	position: relative;
	transform: scale(1.03);
	background: rgba(54,68,58,1) !important;
	opacity: 1 !important;


}

div.cave-grid img  {
	transition: 0.3s ease;
	opacity: 100%;

}

div.cave-grid img:hover, .mound-grid img:hover {
	position: relative;
	filter: saturate(2);
	transition: 0.3s ease;

}

/* CAVE / MOUND IMAGES */
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
	content: url('https://i.postimg.cc/V6S80mLq/Unsorted.png')!important;


}

/*Nesting*/
img[src$="nestingbanner.png"] {
	content: url('https://i.postimg.cc/9M4hwCFP/Nesting.png')!important;

}

/*Overview*/
img[src$="overviewbanner.png"] {
	content: url('https://i.postimg.cc/rmdkRMFS/Overview.png')!important;

}

/*Caves*/
img[src$="cavedefault.jpg"] {
	content: url("https://i.postimg.cc/mrPLCQmy/8a9e600e104ca57987343a0436cb25eb_ezgif_com_resize.jpg") !important;

}

/* Cave 1 */
a[href$="420228"] div.cave-grid img {
	content: url('https://i.postimg.cc/mrPLCQmy/8a9e600e104ca57987343a0436cb25eb_ezgif_com_resize.jpg')!important;
    opacity: 0.8 !important;

}

/* Cave 2 */
a[href$="403559"] div.cave-grid img {
	content: url('https://i.postimg.cc/jjDxPzMH/9f76013f4fdb7ca5fdb83dd05fb4975e_ezgif_com_resize_ezgif_com_resize.jpg')!important;

}

/* Cave 3 */
a[href$="417351"] div.cave-grid img {
	content: url('https://i.postimg.cc/N0Ksm1dm/91015369e2da6b87112659ce1856a2a9_ezgif_com_resize.jpg')!important;

}

div.mound-grid {
	visibility: hidden;
	position: absolute;
	top: 0px;

}

/* FEED ALL, PLAY ALL */
.feature {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	padding: 5px !important;
	

}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
.feature, div.left {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #333333 1px !important;
	box-shadow: 2px 2px 1px #333333 !important;
	transition: 0.2s ease;
	opacity: 0.9;

}

.feature, div.left:hover {
	filter: grayscale(0%);
	transition: 0.2s ease;
	position: relative;
	transform: scale(1.03);
	opacity: 1;

}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
	flex-wrap: nowrap; 
	justify-content: space-between; 

}

.dynastylist {
	flex: 1 1 auto;
	max-width: 20%; 
	box-sizing: border-box; 
	transition: 0.3s ease;

}

.dynastylist:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* resizes all images to fit the new layout */
.dynastylist img {
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;

}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
	word-break: break-all;
	font-size: 12px !important; /* Adjust font size for all headers */

}
 
/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */
.table .left {
	background: #333333;
	background: linear-gradient(0deg,rgba(51, 51, 51, 0.8) 0%, rgba(102, 102, 102, 0.8) 1%, rgba(161, 161, 161, 0.8) 100%) !important;
	color: #ffffff;
        
}

.item-footer {
	background: rgba(54,68,58, 1);
	color: #ffffff !important;	

}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;

}

/* LINK COLOR */
a:link,
a:visited {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000; 
	transition: 0.3s ease;

}

/* LINK HOVER COLOR */
a:hover {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
	transition: 0.3s ease;

}
 
/* BOX CONTAINER */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex

}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
            
}

}

/* BOXES */
/* BOXES */
.smallbox {
	float: left;
	background: #29332b;
	background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 28.4%;
	overflow: auto

}

.mediumbox {
	float: left;
	background: #29332b;
	background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 310px;
	overflow: auto

}

.largebox {
	float: left;
	background: #29332b;
	background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 400px;
	width: 640px;
	overflow: auto

}

/* F2U Code by pun #139 on Lioden */
/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
.pun-credit {
        position: fixed;
        height: 25px;
        width: 200px;
        bottom: 0px;
        left: 0px;
        color: #ffffff !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
        transition: ease 0.3s;
        z-index: 100;
        background: rgba(0,0,0,0.8);
    

}

.pun-credit:hover {
	height: 280px;
	width: 200px;
	transition: ease 0.3s;

}

.pun-credit a {
        color: #ffffff !important;
        transition: ease 0.3s;

}

.pun-credit a:hover {
        opacity: 1 !important;
        transition: ease 0.3s;

}

.pun-credit:hover {
        opacity: 1;
        transition: ease 0.3s;

}

/* SCROLL BAR */
/* WIDTH */
::-webkit-scrollbar {
	width: 10px;
	z-index: 1;

}


/* BACKGROUND */
::-webkit-scrollbar-track {
	background: rgba(83,98,89, 1);
	z-index: 1;
	border-radius: 0px;

}


/* "THUMB" */
::-webkit-scrollbar-thumb {
	background: rgba(38,54,40,1);
	border-radius: 0px;

}

/* LION AND USER AVATAR OPACITY */
div#lion_image {
	overflow: hidden;
	border-radius: 50%;
	margin-top: 20px; 
	margin-left: 12px; 
	opacity: 0.8;
	transition: 0.5s ease;

}

div#lion_image:hover {
	opacity: 1;
	border-radius: 50%;
    

}

/* Code by Hok-Z (#170947) */
/* King Frame */
#lion_image:after {
	content:url("https://i.postimg.cc/ydrYw8gk/ezgif_com_resize_10_ezgif_com_effects.png");
	position: absolute;
    filter: saturate(1.5);
	left: 8px;
	top: 17px;

}

table#player img {
	opacity: 0.8;
	overflow: hidden;
	transition: 0.3s ease;
}

table#player img:hover {
	opacity: 1;
	transition: 0.3s ease;

}

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/85zPRS30/logotest.png');
	height: 120px !important;
}

/* CURRENCY ICONS */
/* GOLD BEETLE */
img[src$="icon-beetle-gold.png"] {
	filter: saturate(50%) !important;

}

/* SILVER BEETLE */
img[src$="icon-beetle-silver.png"] {
	filter: saturate(50%) !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* MEMBER ONLINE */
.member-online {
	background: rgba(207,207,207,0);
	content:url('https://i.postimg.cc/FKwSwbz6/64486c2aec42e0335049871abbed4b25_removebg_preview.png')!important;
	width: 20px !important;
	height: auto;
 
}
 
/* MEMBER OFFLINE */
.member-offline {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/0NhShGjt/a58d26884b1837152e7a91d1c22b486f_removebg_preview.png')!important;	width: 20px !important;
	height: auto;
 
}