/* Code credits */
/* Thank you to the following user's public CSS help threads for contributing to the code. */
/* #276513, #41458, #2230, #251887, #106445, #94329, #144118, #139 */

/* FONT (From Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');


/*MOBILE BACKGROUND*/
@media only screen and (max-width: 800px){
body {
	background: url('https://i.postimg.cc/9ML3yKB5/4In-Xrd-R.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
    font-family: "Handjet", sans-serif;


}

/* Code from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/43058483#43058483 */
html:not(.nolayout) body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top: 0;
	height: 200vh; /* fix for mobile browser address bar appearing disappearing */
	left: 0;
	right: 0;
	z-index:-1; /* needed to keep in the background */
	background: url('https://i.postimg.cc/9ML3yKB5/4In-Xrd-R.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff !important;
    font-family: "Handjet", sans-serif;


}

}

/* DESKTOP BACKGROUND */
@media only screen and (min-width: 801px){
body {
	background: url('https://i.postimg.cc/9ML3yKB5/4In-Xrd-R.jpg') center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* safari may need this */
	font-size: 18px !important;
	color: #ffffff;
  font-family: "Handjet", sans-serif;


}

}

/* Comment Background Box */
div#commentBox{
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	
}

/* Leave Comment Background */
div#makeComment {
	border-radius: 0px;
	margin-bottom: 10px;
	visibility: hidden;
	
}

/* Leave Comment Input Box */
input#comment {
	visibility: visible;
	background: #000 !important;
	border-radius: 0px;
	
}

/* Color behind the content of the elements listed above */
input, select, textarea {
	background: #000 !important;
	border-radius: 0px;
	color: #ffffff !important;
	text-shadow: none !important
	box-shadow: none !important;
	font-size: 15px !important;

}

/* ODD COMMENTS */
.comment:nth-child(odd) {
	background: rgba(0,0,0, 0.1) !important;
	font-size: 13px !important;
	
}

/* EVEN COMMENTS */
.comment:nth-child(even) {
	background: rgba(0,0,0, 0.2) !important;
	font-size: 13px !important;


}

.text-muted {
	color: #ffffff !important;

}

/* MAIN PANEL */
/* RIGHT SIDE */
.container.main {
	background: rgba(0,0,0, 0.4) !important;
	color: #ffffff;
	border: solid #000000 1px !important;
	border-radius: 5px;
	box-shadow: none;

}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none

}

/* TOPBAR ("Welcome back, ___") */
.topbar {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	padding: 10px;

}

/* NAVBAR (Den/Crossroads/Etc.) */
.navbar {
	background: rgba(0,0,0, 0.8) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	padding: 5px;
	
}

/* NAVBAR BUTTONS */
.navbar,.navbar-default .navbar-nav > li > a {
	background: none;
	color: #ffffff !important;
	font-size: 16px;
	padding: none;
	transition: 0.2s ease-in-out;

}

/* NAVBAR HOVER BUTTONS */
.navbar-default .navbar-nav > li > a:hover {
	background: none;
	color: #A12078!important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000 !important; 
	border-radius: 0px;
	transition: 0.2s ease-out;
	box-shadow: none;

}


/* BREADCRUMB (Home / Den) */
.breadcrumb {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
}

/* BREADCRUMB TEXT */
.breadcrumb .active {
	color: #ffffff

}

/* ALL BUTTONS */
.select-control,button.button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	visibility: visible !important;
	background: #75196A !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #1a2e1d !important;
	border-radius: 0px !important;
	border: solid #000 1px !important;
	box-shadow: 2px 2px 1px #000!important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	transition: 0.3s ease;

}

/* ALL HOVER BUTTONS */
button.button:hover, input:hover[type="submit"], input:hover[type="reset"], input:hover[type="button"], a.button:hover {
	visibility: visible !important;
	background: #A12078 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000 !important;
	border-radius: 0px !important;
	border: solid #000 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	transition: 0.3s ease;
	
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */
.alert, .alert-warning, .alert-danger {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border-radius: 0px;
	border: solid #80023A 1px !important;
	border-radius: 5px !important;

}

/* BIGGEST HEADER ("___"'s DEN) */
h1 {
	background: none !important;
	color: #2E7C60 !important;
	font-size: 30px;
    

}

h1 small {
    color: #ffffff !important;

}

/* MEDIUM HEADER */
h2 {
	color: #ffffff !important;
	font-size: 20px;
	text-align: center

}

/* SMALL HEADER */
h3 {
	color: #ffffff !important;
	font-size: 15px !important

}

/* PANEL HEADER */
.sidebar h3 {
	font-size: 20px !important;
	transition: 0.3s;


}

/* ALL RIGHT SIDE PANELS */
.panel {
	background: rgba(0,0,0,0.8) !important;
	color: #ffffff;
border: none !important;
box-shadow: none ! important;
	padding: 10px !important;

}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #000!important;
	border-radius: 10px !important;
	border: solid 1px #fff!important;
	padding 4px;
    
}

/* ENERGY BAR TEXT */
.progress div {
    color: #ffffff !important;
    
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
 
/* IMP. (Controlls All) */
 div.progress-bar {
   background: #75196a;
background: linear-gradient(90deg,rgba(117, 25, 106, 1) 0%, rgba(161, 32, 120, 1) 100%) !important;
    
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(0,0,0, 0.4) !important;
    color: #ffffff !important;
	border: none !important
}

.s-chat-message:nth-child(odd), .s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(0,0,0, 0.6) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message__pinned,#chatMessagePinned.s-chat-message__pinned .s-chat-message_content /* Pinned Message */ {
	background: #75196a;
background: linear-gradient(90deg,rgba(117, 25, 106, 1) 0%, rgba(161, 32, 120, 1) 100%) !important;
	color: #ffffff;
	border: none  !important;
	box-shadow: none !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: solid #0001px !important;
	box-shadow: 2px 2px 1px #000!important;
	
}


button#label_currentChannel, .s-chat-sidebar #label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #75196a;
background: linear-gradient(90deg,rgba(117, 25, 106, 1) 0%, rgba(161, 32, 120, 1) 100%) !important;
	color: #fff;
	border: 1px solid #9c4133;
	border-radius: 0px !important;

}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */
/* PANEL BACKGROUND COLOR */
.table {
	background: rgba(0,0,0, 0.4);
	color: #fff;
	border-radius: 0px;
	border: solid #75196a 1px;
	box-shadow: none !important;
	padding: 5px;

}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top, th {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #80023A;
	border: none !important;
	box-shadow: none !important;
	padding: 5px;
	font-size: 15px !important;
    
}

.bottom {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #80023A;
	border: none !important;
	box-shadow: none !important;
	padding: 5px;
	font-size: 15px;

}

td.bottom a {
        text-decoration: none !important

}

/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
	background: rgba(20, 46, 33, 0.8) !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	color: #000;
	font-size: 15px;

}

/* Color behind the number of all of the things above */
.inner-table .right {
	background: rgba(30, 81, 45,0.8);
	border-radius: 0px;
	color: #000;
	border: none !important;
	box-shadow: none !important;    
	font-size: 15px;


}

td.right {
	border-radius: 0px !important

}

/* IGNORE */
.right_odd {
	background: none !important

}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid, .mound-grid {
	background: rgba(0,0,0, 0.8);
	color: #80023A;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	opacity: 0.9 !important;
	transition: 0.3s ease;

}

div.cave-grid:hover, .mound-grid:hover {
	position: relative;
	transform: scale(1.03);
	opacity: 1 !important;


}

div.cave-grid img  {
	transition: 0.3s ease;
    opacity: 100%;

}

div.cave-grid img:hover, .mound-grid img:hover {
	position: relative;
	filter: saturate(2);
	transition: 0.3s ease;

}

/* CAVE / MOUND IMAGES */
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
	content: url('https://i.postimg.cc/BvMsCjqp/Ivseh7F-ezgif-com-resize.png')!important;


}

/*Nesting*/
img[src$="nestingbanner.png"] {
	content: url('https://i.postimg.cc/cJXZcvsm/l-Vv5t1C-ezgif-com-resize.jpg')!important;

}

/*Overview*/
img[src$="overviewbanner.png"] {
	content: url('https://i.postimg.cc/HLBHtrpB/fp5DMTl-ezgif-com-resize.png')!important;

}

/* Cave 1 */
a[href$="283578"] div.cave-grid img {
	content: url('https://i.postimg.cc/6QYwh8WK/whiteblurple-ezgif-com-crop.jpg')!important;

}

/* Cave 2 */
a[href$="284557"] div.cave-grid img {
	content: url('https://i.postimg.cc/R0X9TWMY/orangelime-ezgif-com-crop.jpg')!important;

}

/* Cave 3 */
a[href$="346857"] div.cave-grid img {
	content: url('https://i.postimg.cc/R0X9TWS9/orange-ezgif-com-crop.jpg')!important;

}

/* Cave 4 */
a[href$="221896"] div.cave-grid img {
	content: url('https://i.postimg.cc/VND1FJYV/maroon-ezgif-com-crop.jpg')!important;

}

/* Cave 5 */
a[href$="366199"] div.cave-grid img {
	content: url('https://i.postimg.cc/252mx1z7/purplevomit-ezgif-com-crop.jpg')!important;

}

/* Cave 6 */
a[href$="352007"] div.cave-grid img {
	content: url('https://i.postimg.cc/d04v9hqg/bluebubble-ezgif-com-crop.jpg')!important;

}

/* Cave 7 */
a[href$="527172"] div.cave-grid img {
	content: url('https://i.postimg.cc/k5f9y2nz/lime-ezgif-com-crop.jpg')!important;

}

.mound-grid img {
	content: url(https://i.postimg.cc/nz9mbbwJ/u-PTPAq-A.jpg);
	height: 100px;
	width: 100px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	transition: ease 0.3s;
	

}

/* FEED ALL, PLAY ALL */
.feature {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #ffffff;
	border: none !important;
	box-shadow: none !important;
	padding: 5px !important;
	

}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
.feature, div.left {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #80023A;
	border: none !important;
	box-shadow: none !important;
	transition: 0.2s ease;
	opacity: 0.9;

}

.feature, div.left:hover {
	filter: grayscale(0%);
	transition: 0.2s ease;
	position: relative;
	transform: scale(1.03);
	opacity: 1;

}

/* dynasty list adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
img[src$="den_ancestors.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/TwsKC7d8/blue.png') !important; 

}

img[src$="den_ancestorsfem.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/fLPVB2w6/pink.png') !important; 

}

img[src$="den_achievements.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/mDnP8Xbv/green.png') !important; 

}

img[src$="den_showcase.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/76R5msxd/yellow.png') !important; 

}

img[src$="den_beetlebook.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/qRFNjbkW/white.png') !important; 

}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
	flex-wrap: nowrap; 
	justify-content: space-between; 

}

.dynastylist {
	flex: 1 1 auto;
	max-width: 20%; 
	box-sizing: border-box; 
	transition: 0.3s ease;

}

.dynastylist:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* resizes all images to fit the new layout */
.dynastylist img {
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;

}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
	word-break: break-all;
	font-size: 12px !important; /* Adjust font size for all headers */

}
 
/* font option 2 - targets individual headers. delete this code if you're using font option one. */
.dynastylist:nth-child(1) h3 {
	font-size: 12px !important; /* king dynasty */

}

.dynastylist:nth-child(2) h3 {
	font-size: 12px !important; /* pride dynasty */

}

.dynastylist:nth-child(3) h3 {
	font-size: 12px !important; /* achievements */

}

.dynastylist:nth-child(4) h3 {
	font-size: 12px !important; /* showcase */

}

.dynastylist:nth-child(5) h3 {
	font-size: 12px !important; /* beetle book */

}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */
.table .left {
	background: #000;
        
}

.item-footer {
	background: rgba(54,68,58, 1);
	color: #ffffff !important;	

}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;

}

/* LINK COLOR */
a:link,
a:visited {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #80023A, 0 0 1em #80023A, 0 0 0.2em #80023A; 
	transition: 0.3s ease;

}

/* LINK HOVER COLOR */
a:hover {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
	transition: 0.3s ease;

}
 
/* BOX CONTAINER */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex

}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
            
}

}

/* F2U Code by pun #139 on Lioden */
/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
.pun-credit {
        position: fixed;
        height: 25px;
        width: 200px;
        bottom: 0px;
        left: 0px;
        color: #ffffff !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
        transition: ease 0.3s;
        z-index: 100;
        background: rgba(0,0,0,0.8);
    

}

.pun-credit:hover {
	height: 280px;
	width: 200px;
	transition: ease 0.3s;

}

.pun-credit a {
        color: #ffffff !important;
        transition: ease 0.3s;

}

.pun-credit a:hover {
        opacity: 1 !important;
        transition: ease 0.3s;

}

.pun-credit:hover {
        opacity: 1;
        transition: ease 0.3s;

}

/* For Mobile */
@media only screen and (max-width: 800px){ 
.pun-table {
	width: 600px;
	background: url('https://i.postimg.cc/nhVH5ydL/image-2026-06-16-161415232.png');
	background-position: left 25%;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.85;
	border-radius: 5px;
	border: none !important;
	box-shadow: none !important;
	position: relative;

}

}

/* For Desktop */
@media only screen and (min-width: 800px){
.pun-table {
	width: 640px;
	height: 500px;
	background: url('https://i.postimg.cc/nhVH5ydL/image-2026-06-16-161415232.png');
	opacity: 0.85;
	border-radius: 5px;
	border: none !important;
	box-shadow: none !important;
	position: relative;

}

}

.pun-spacer {
        background: none;
        width: 320px;

}

/* For Desktop */
@media only screen and (min-width: 800px){ .pun-content {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 1) 0%, rgba(161, 32, 120, 1) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	color: #ffffff;
	border-radius: 0px !important;
	text-align: justify;
	height: 400px;
	left: 330px;
	overflow: auto;
	width: 280px;
	padding: 20px;
	border-radius: 0px;
	font-size: 12px;
	position: relative;
    
}

}

/* For Mobile */
@media only screen and (max-width: 800px){ .pun-content {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	color: #ffffff;
	border-radius: 0px !important;
	text-align: justify;
	height: 400px;
	left: 260px;
	overflow: auto;
	width: 280px;
	padding: 20px;
	border-radius: 0px;
	font-size: 12px;
	position: relative;

}

}
.pun-content a {
        color: #ffffff !important;
        font-weight: normal !important;
        opacity: 0.5;

}

.pun-content a:hover {
        opacity: 1 !important;

}

.pun-links {
	background: #75196a;
	background: linear-gradient(90deg,rgba(117, 25, 106, 0.8) 0%, rgba(161, 32, 120, 0.8) 100%) !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 0px;
	position: relative;

}

.pun-links a {
        color: #ffffff !important;

}

.pun-graphics {
	background: rgba(0,0,0, 0.0;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0px;
	border: none !important;
	box-shadow: none !important;
	color: #ffffff;
	text-align: center;
	border-radius: 0px;
	position: relative;

}

.pun-graphics a {
        color: #94c69c !important;
        border-radius: 10px;


}

/* SCROLL BAR */
/* WIDTH */
::-webkit-scrollbar {
	width: 10px;
	z-index: 1;

}


/* BACKGROUND */
::-webkit-scrollbar-track {
	background: rgba(0,0,0, 1);
	z-index: 1;
	border-radius: 0px;

}


/* "THUMB" */
::-webkit-scrollbar-thumb {
	background: #75196a;
	border-radius: 0px;

}

/* LION AND USER AVATAR OPACITY */
div#lion_image {
	overflow: hidden;
	margin-top: 20px; 
	margin-left: 12px; 
	opacity: 0.8;
	transition: 0.5s ease;

}

div#lion_image:hover {
	opacity: 1;
    

}

table#player img {
	opacity: 0.8;
	overflow: hidden;
	transition: 0.3s ease;
}

table#player img:hover {
	opacity: 1;
	transition: 0.3s ease;

}

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/8kb3J2CD/5xg-SBrh-ezgif-com-resize.png');
	height: 120px !important;
}

/* CURRENCY ICONS */
/* GOLD BEETLE */
img[src$="icon-beetle-gold.png"] {
	content: url('https://i.postimg.cc/KvkHqR50/gb.png')!important;
	height: 20px !important;
	filter: saturate(50%) !important;

}

/* SILVER BEETLE */
img[src$="icon-beetle-silver.png"] {
	content: url('https://i.postimg.cc/ncjPRC1d/sb.png')!important;
	height: 20px !important;
	filter: saturate(50%) !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* MEMBER ONLINE */
.member-online {
	background: rgba(207,207,207,0);
	content:url('https://i.postimg.cc/brTN4m8P/online.png')!important;
	height: 20px !important;
 
}
 
/* MEMBER OFFLINE */
.member-offline {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/gjDk1gdW/offline.png')!important;
	height: 20px !important;
 
}