/* Code credits */
/* Thank you to the following user's public CSS help threads for contributing to the code. */
/* #276513, #41458, #2230, #251887, #106445, #94329, #144118, #139 */

/* FONT (From Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

/*MOBILE BACKGROUND*/
@media only screen and (max-width: 800px){
body {
	background: url('https://i.postimg.cc/g2Bxw5hN/wp13143223-minimalist-galaxy-wallpapers.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	font-family: "Bungee Hairline", sans-serif !important;

}

/* Code from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/43058483#43058483 */
html:not(.nolayout) body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top: 0;
	height: 200vh; /* fix for mobile browser address bar appearing disappearing */
	left: 0;
	right: 0;
	z-index:-1; /* needed to keep in the background */
	background: url('https://i.postimg.cc/g2Bxw5hN/wp13143223-minimalist-galaxy-wallpapers.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff !important;
	font-family: "Bungee Hairline", sans-serif !important;

}

}

/* DESKTOP BACKGROUND */
@media only screen and (min-width: 801px){
body {
	background: url('https://i.postimg.cc/g2Bxw5hN/wp13143223-minimalist-galaxy-wallpapers.jpg') center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* safari may need this */
	font-size: 18px !important;
	color: #ffffff;
	font-family: "Bungee Hairline", sans-serif !important;

}

}

/* Comment Background Box */
div#commentBox{
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	border-radius: 0px;
	color: #ffffff;
	border: solid #1A1920 2px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	
}

/* Leave Comment Background */
div#makeComment {
	border-radius: 0px;
	margin-bottom: 10px;
	visibility: hidden;
	
}

/* Leave Comment Input Box */
input#comment {
	visibility: visible;
	background: rgba(0,0,0,0.87) !important;
	border: solid 3px #000 !important;
	border-radius: 0px;
	
}

/* Color behind the content of the elements listed above */
input, select, textarea {
	background: rgba(0,0,0,0.87) !important;
	border: solid 2px #000 !important;
	border-radius: 0px;
	color: #ffffff !important;
	text-shadow: none !important
	box-shadow: none !important;
	font-size: 15px !important;

}

/* ODD COMMENTS */
.comment:nth-child(odd) {
	background: rgba(0,0,0, 0.1) !important;
	font-size: 13px !important;
	
}

/* EVEN COMMENTS */
.comment:nth-child(even) {
	background: rgba(0,0,0, 0.2) !important;
    font-size: 13px !important;


}

.text-muted {
	color: #ffffff !important;

}

/* MAIN PANEL */
/* RIGHT SIDE */
.container.main {
	background: rgba(0,0,0, 0.4) !important;
	color: #ffffff;
	border: solid #000000 1px !important;
	border-radius: 5px;
	box-shadow: none;

}

/* LEFT SIDE */
.col-md-9 {
	background: none;
	border-right: none

}

/* TOPBAR ("Welcome back, ___") */
.topbar {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	border-radius: 0px;
	padding: 10px;

}

/* NAVBAR (Den/Crossroads/Etc.) */
.navbar {
	background: #2B4453;
	background: linear-gradient(0deg,rgba(43, 68, 83, 0.8) 0%, rgba(69, 105, 130, 0.8) 1%, rgba(100, 146, 176, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #2B4453 1px !important;
	box-shadow: 2px 2px 1px #2B4453 !important;
	border-radius: 0px;
	padding: 5px;
	
}

/* NAVBAR BUTTONS */
.navbar,.navbar-default .navbar-nav > li > a {
	background: none;
	color: #ffffff !important;
	font-size: 16px;
	padding: none;
	transition: 0.2s ease-in-out;

}

/* NAVBAR HOVER BUTTONS */
.navbar-default .navbar-nav > li > a:hover {
	background: none;
	color: #000 !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff !important; 
	border-radius: 0px;
	transition: 0.2s ease-out;
	box-shadow: none;

}

/* SPECIFIC NAVBAR HOVER BUTTON */
.navbar-nav li:nth-child(0n+#) a:hover {
	background: /* COLOR */;
	
}

/* BREADCRUMB (Home / Den) */
.breadcrumb {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	border-radius: 0px;
}

/* BREADCRUMB TEXT */
.breadcrumb .active {
	color: #ffffff

}

/* ALL BUTTONS */
.select-control,button.button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	visibility: visible !important;
	background: #456982 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #1a2e1d !important;
	border-radius: 0px !important;
	border: solid #203C4F 1px !important;
	box-shadow: 2px 2px 1px #203C4F !important;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	transition: 0.3s ease;
	font-size: 11px !important;

}

/* ALL HOVER BUTTONS */
button.button:hover, input:hover[type="submit"], input:hover[type="reset"], input:hover[type="button"], a.button:hover {
	visibility: visible !important;
	background: #6492B0 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #1a2e1d !important;
	border-radius: 0px !important;
	border: solid #203C4F 1px !important;
	box-shadow: 2px 2px 1px #203C4F !important;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	transition: 0.3s ease;
	font-size: 11px !important;
	
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */
.alert, .alert-warning, .alert-danger {
	background: #785c36;
	background: linear-gradient(0deg,rgba(120, 92, 54, 1) 0%, rgba(143, 110, 81, 1) 1%, rgba(196, 161, 112, 1) 100%) !important;
	color: #ffffff !important;
	border: solid #785c36 1px !important;
	box-shadow: 2px 2px 1px #785c36 !important;
	border-radius: 5px !important;

}

/* BIGGEST HEADER ("___"'s DEN) */
h1 {
	background: url('https://i.postimg.cc/sfmsDNtM/200.gif') !important;
	padding: 5px;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #C4A170, 0 0 1em #C4A170, 0 0 0.2em #C4A170;
	text-align: center;
	font-size: 50px;
    

}

h1 small {
	color: #ffffff !important;

}

/* MEDIUM HEADER */
h2 {
	color: #ffffff !important;
	font-size: 20px;
	text-align: center

}

/* SMALL HEADER */
h3 {
	color: #ffffff !important;
	font-size: 15px !important

}

/* PANEL HEADER */
.sidebar h3 {
	background: url("https://i.postimg.cc/Gt2kK6fF/caf44253eba221745bd20c9effe8d71a-ezgif-com-resize.gif") !important;
	background-size: 100% !important;
	padding: 10px !important;
	border: solid #232F4A 1px !important;
	border-radius: 0px;
	box-shadow: 2px 2px 1px #232F4A !important;
	color: #fff !important;
	font-size: 20px !important;
	transition: 0.3s;


}

/* ALL RIGHT SIDE PANELS */
.panel {
	background: #2B4453;
	background: linear-gradient(0deg,rgba(43, 68, 83, 0.7) 0%, rgba(69, 105, 130, 0.7) 1%, rgba(100, 146, 176, 0.7) 100%) !important;
	color: #ffffff;
	border: solid #203C4F 1px !important;
	box-shadow: 2px 2px 1px #203C4F !important;
	padding: 10px !important;

}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #000 !important;
	border-radius: 10px !important;
	border: solid 1px #000 !important;
	padding 4px;
    
}

/* ENERGY BAR TEXT */
.progress div {
    color: #ffffff !important;
    
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
 
/* ENERGY */
 div.progress-bar-warning {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 1) 0%, rgba(35, 47, 74, 1) 1%, rgba(65, 78, 105, 1) 100%) !important;

}
 
/* HUNGER */
 div.progress-bar-danger {
	background: #785c36;
	background: linear-gradient(0deg,rgba(120, 92, 54, 1) 0%, rgba(143, 110, 81, 1) 1%, rgba(196, 161, 112, 1) 100%) !important;
     
}
 
/* EXP. */
 div.progress-bar-success {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 1) 0%, rgba(35, 47, 74, 1) 1%, rgba(65, 78, 105, 1) 100%) !important;
    
}
 
/* IMP. (Controlls All) */
 div.progress-bar {
	background: linear-gradient(0deg,rgba(120, 92, 54, 1) 0%, rgba(143, 110, 81, 1) 1%, rgba(196, 161, 112, 1) 100%);
    
}
 
 
/* ACHIEVMENTS */
div:nth-child(2)>div>div>div.progress-bar.progress-bar-success {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 1) 0%, rgba(35, 47, 74, 1) 1%, rgba(65, 78, 105, 1) 100%) !important;
    
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(0,0,0, 0.4) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message:nth-child(odd), .s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(0,0,0, 0.6) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message__pinned,#chatMessagePinned.s-chat-message__pinned .s-chat-message_content /* Pinned Message */ {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 1) 0%, rgba(35, 47, 74, 1) 1%, rgba(65, 78, 105, 1) 100%) !important;
	color: #ffffff;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	
}


button#label_currentChannel, .s-chat-sidebar #label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #785c36;
	background: linear-gradient(0deg,rgba(120, 92, 54, 1) 0%, rgba(143, 110, 81, 1) 1%, rgba(196, 161, 112, 1) 100%) !important;
	color: #fff;
	border: 1px solid #785c36 !important;
	border-radius: 0px !important;

}

/* Chat Channel Dropdown Menu */
.s-chat-sidebar #fraChatChannelMenu {
	background: rgba(219, 128, 114, 0.8);
	border-radius: 0px;
	border: 1px solid #9c4133;
	box-shadow: 1px 1px 2px #AAA;
	color: #fff !mportant;
}

/* Current Chat Channel */
#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #9c4133;
	color: #fff !mportant;

}

/* Chat Channel Hover */
#fra_chatContainer .channelMenu .channelSwitcher:hover {
	background: rgba(219, 128, 114, 1) !important;
	color: #fff !mportant;
	transition: 0.2s

}

/* Chat Channel Text */
#fra_chatContainer .channelMenu .channelSwitcher {
	color: #ffffff !important;

}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */
/* PANEL BACKGROUND COLOR */
.table {
	background: rgba(0,0,0, 0.5);
	color: #ffffff;
	border-radius: 5px;
	border: solid #000 1px;
	box-shadow: 2px 2px 1px #000 !important;
	padding: 5px;

}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top, th {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px !important;    
}

.bottom {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px;

}

td.bottom a {
        text-decoration: none !important

}

/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.8) 0%, rgba(35, 47, 74, 0.8) 1%, rgba(65, 78, 105, 0.8) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	font-size: 15px;

}

/* Color behind the number of all of the things above */
.inner-table .right {
	background: rgba(0,0,0,0.0) !important;
	border-radius: 0px;
	border: none !important;
	box-shadow: none !important;    
	font-size: 15px;


}

td.right {
	border-radius: 0px !important

}

/* IGNORE */
.right_odd {
	background: none !important

}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid, .mound-grid {
	background: #203c4f;
	background: linear-gradient(0deg,rgba(32, 60, 79, 0.8) 0%, rgba(69, 105, 130, 0.8) 1%, rgba(100, 146, 176, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #203c4f 1px !important;
	box-shadow: 2px 2px 1px #203c4f !important;
	border-radius: 0px;
	opacity: 0.9 !important;
	transition: 0.3s ease;

}

div.cave-grid:hover, .mound-grid:hover {
	position: relative;
	transform: scale(1.03);
	opacity: 1 !important;


}

div.cave-grid img  {
	transition: 0.3s ease;
	opacity: 100%;

}

div.cave-grid img:hover, .mound-grid img:hover {
	position: relative;
	filter: saturate(2);
	transition: 0.3s ease;

}

/* CAVE / MOUND IMAGES */
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
	content: url('https://i.postimg.cc/hvYS4Jhp/82ff282a870e58aee1b92755f0028b04.jpg')!important;


}

/*Nesting*/
img[src$="nestingbanner.png"] {
	content: url('https://i.postimg.cc/nrWHVsMw/60d1aa7e43c01b288d39db67ca924325.jpg')!important;

}

/*Overview*/
img[src$="overviewbanner.png"] {
	content: url('https://i.postimg.cc/BbzqZ8tz/02fcd1ce5c961c01a0255099d03b11ec.jpg')!important;

}

/* Cave 1 */
a[href$="489211"] div.cave-grid img {
	content: url('https://i.postimg.cc/7hRxPCbB/c1c80f96c66f162d13b54c438a1e7c00.jpg')!important;
    opacity: 0.8 !important;

}

/* Cave 2 */
a[href$="225777"] div.cave-grid img {
	content: url('https://i.postimg.cc/0j4856rV/5aa1d5682d75ce5714e303de556f5482.jpg')!important;
	opacity: 0.8 !important;
}

/* Cave 3 */
a[href$="222619"] div.cave-grid img {
	content: url('https://i.postimg.cc/0j4856rX/fea065489465a348463565193b9ac292.jpg')!important;
	opacity: 0.8 !important;
}

/* Cave 4 */
a[href$="455016"] div.cave-grid img {
	content: url('https://i.postimg.cc/L5WH4qhb/4b02213a16871ec9179f7ab6a2b6419c.jpg')!important;
	opacity: 0.8 !important;
}

div.mound-grid {
	visibility: hidden;
	position: absolute;
	top: 0px;

}

/* FEED ALL, PLAY ALL */
.feature {
	background: #203c4f;
	background: linear-gradient(0deg,rgba(32, 60, 79, 0.8) 0%, rgba(69, 105, 130, 0.8) 1%, rgba(100, 146, 176, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #203c4f 1px !important;
	box-shadow: 2px 2px 1px #203c4f !important;
	padding: 5px !important;
	

}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
.feature, div.left {
	background: #203c4f;
	background: linear-gradient(0deg,rgba(32, 60, 79, 0.8) 0%, rgba(69, 105, 130, 0.8) 1%, rgba(100, 146, 176, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #203c4f 1px !important;
	box-shadow: 2px 2px 1px #203c4f !important;
	transition: 0.2s ease;
	opacity: 0.9;

}

.feature, div.left:hover {
	filter: grayscale(0%);
	transition: 0.2s ease;
	position: relative;
	transform: scale(1.03);
	opacity: 1;

}

/* dynasty list adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
img[src$="den_ancestors.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/1RC0X5gJ/e775fcdbeed95cf66e67228315a5e047-ezgif-com-resize.gif') !important; 

}

img[src$="den_ancestorsfem.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/1RC0X5gJ/e775fcdbeed95cf66e67228315a5e047-ezgif-com-resize.gif') !important; 

}

img[src$="den_achievements.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/1RC0X5gJ/e775fcdbeed95cf66e67228315a5e047-ezgif-com-resize.gif') !important; 

}

img[src$="den_showcase.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/1RC0X5gJ/e775fcdbeed95cf66e67228315a5e047-ezgif-com-resize.gif') !important; 

}

img[src$="den_beetlebook.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/1RC0X5gJ/e775fcdbeed95cf66e67228315a5e047-ezgif-com-resize.gif') !important; 

}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
	flex-wrap: nowrap; 
	justify-content: space-between; 

}

.dynastylist {
	flex: 1 1 auto;
	max-width: 20%; 
	box-sizing: border-box; 
	transition: 0.3s ease;

}

.dynastylist:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* resizes all images to fit the new layout */
.dynastylist img {
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;

}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
	word-break: break-all;
	font-size: 12px !important; /* Adjust font size for all headers */

}
 
/* font option 2 - targets individual headers. delete this code if you're using font option one. */
.dynastylist:nth-child(1) h3 {
	font-size: 12px !important; /* king dynasty */

}

.dynastylist:nth-child(2) h3 {
	font-size: 12px !important; /* pride dynasty */

}

.dynastylist:nth-child(3) h3 {
	font-size: 12px !important; /* achievements */

}

.dynastylist:nth-child(4) h3 {
	font-size: 12px !important; /* showcase */

}

.dynastylist:nth-child(5) h3 {
	font-size: 12px !important; /* beetle book */

}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */
.table .left {
	background: rgba(0,0,0, 0.4);
        
}

.item-footer {
	background: rgba(54,68,58, 1);
	color: #ffffff !important;	

}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;

}

/* LINK COLOR */
a:link,
a:visited {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #C4A170, 0 0 1em #C4A170, 0 0 0.2em #C4A170; 
	transition: 0.3s ease;

}

/* LINK HOVER COLOR */
a:hover {
	color: #000 !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
	transition: 0.3s ease;

}
 
/* BOX CONTAINER */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex

}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
            
}

}

/* BOXES */
/* BOXES */
.smallbox {
	float: left;
	background: #29332b;
    background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 28.4%;
	overflow: auto

}

.mediumbox {
	float: left;
	background: #29332b;
    background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 310px;
	overflow: auto

}

.largebox {
	float: left;
	background: #29332b;
    background: linear-gradient(0deg,rgba(38,54,40,0.87) 0%, rgba(54,68,58,0.89) 1%, rgba(83,98,89,0.86) 100%) !important;
	color: #ffffff;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	border-radius: 0px !important;
	padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
	margin: 10px;
	height: 400px;
	width: 640px;
	overflow: auto

}

/* F2U Code by pun #139 on Lioden */
/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
.pun-credit {
        position: fixed;
        height: 25px;
        width: 200px;
        bottom: 0px;
        left: 0px;
        color: #ffffff !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
        transition: ease 0.3s;
        z-index: 100;
        background: rgba(0,0,0,0.8);
    

}

.pun-credit:hover {
	height: 280px;
	width: 200px;
	transition: ease 0.3s;

}

.pun-credit a {
        color: #ffffff !important;
        transition: ease 0.3s;

}

.pun-credit a:hover {
        opacity: 1 !important;
        transition: ease 0.3s;

}

.pun-credit:hover {
        opacity: 1;
        transition: ease 0.3s;

}

/* For Mobile */
@media only screen and (max-width: 800px){ 
.pun-table {
    width: 600px;
    background: url('https://i.postimg.cc/TP2Y9XMM/photo-1548625361-58a9b86aa83b-ezgif-com-resize.avif');
    background-position: left 25%;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.85;
	border-radius: 5px;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	position: relative;

}

}

/* For Desktop */
@media only screen and (min-width: 800px){
.pun-table {
    width: 640px;
	height: 500px;
    background: url('https://i.postimg.cc/TP2Y9XMM/photo-1548625361-58a9b86aa83b-ezgif-com-resize.avif');
	opacity: 0.85;
	border-radius: 5px;
	border: solid #1a2e1d 1px !important;
	box-shadow: 2px 2px 1px #1a2e1d !important;
	position: relative;

}

}

.pun-spacer {
        background: none;
        width: 320px;

}

/* For Desktop */
@media only screen and (min-width: 800px){ .pun-content {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.95) 0%, rgba(35, 47, 74, 0.95) 1%, rgba(65, 78, 105, 0.95) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff;
	border-radius: 0px !important;
	text-align: justify;
	height: 400px;
	left: 330px;
	overflow: auto;
	width: 280px;
	padding: 20px;
	border-radius: 5px;
	font-size: 12px;
	position: relative;
    
}

}

/* For Mobile */
@media only screen and (max-width: 800px){ .pun-content {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.95) 0%, rgba(35, 47, 74, 0.95) 1%, rgba(65, 78, 105, 0.95) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff;
	border-radius: 0px !important;
	text-align: justify;
	height: 400px;
	left: 260px;
	overflow: auto;
	width: 280px;
	padding: 20px;
	border-radius: 5px;
	font-size: 12px;
	position: relative;

}

}
.pun-content a {
        color: #ffffff !important;
        font-weight: normal !important;
        opacity: 0.5;

}

.pun-content a:hover {
        opacity: 1 !important;

}

.pun-links {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.95) 0%, rgba(35, 47, 74, 0.95) 1%, rgba(65, 78, 105, 0.95) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 0px;
	position: relative;

}

.pun-links a {
        color: #ffffff !important;

}

.pun-graphics {
	background: #1A1920;
	background: linear-gradient(0deg,rgba(26, 25, 32, 0.95) 0%, rgba(35, 47, 74, 0.95) 1%, rgba(65, 78, 105, 0.95) 100%) !important;
	border: solid #1A1920 1px !important;
	box-shadow: 2px 2px 1px #1A1920 !important;
	color: #ffffff;
	text-align: center;
	border-radius: 0px;
	position: relative;

}

.pun-graphics a {
        color: #94c69c !important;
        border-radius: 10px;


}

/* SCROLL BAR */
/* WIDTH */
::-webkit-scrollbar {
	width: 10px;
	z-index: 1;

}


/* BACKGROUND */
::-webkit-scrollbar-track {
	background: #6492B0;
	z-index: 1;
	border-radius: 0px;

}


/* "THUMB" */
::-webkit-scrollbar-thumb {
	background: #456982;
	border-radius: 0px;

}

/* LION AND USER AVATAR OPACITY */
div#lion_image {
	overflow: hidden;
	border-radius: 50%;
	margin-top: 20px; 
	margin-left: 12px; 
	opacity: 0.8;
	transition: 0.5s ease;

}

div#lion_image:hover {
	opacity: 1;
	border-radius: 50%;
    

}

/* Code by Hok-Z (#170947) */
/* King Frame */
#lion_image:after {
	content:url("https://i.postimg.cc/gcKDFNb1/ezgif-com-effects.png");
	position: absolute;
	filter: saturate(1.5);
	left: 7px;
	top: 16px;

}

table#player img {
	opacity: 0.8;
	overflow: hidden;
	transition: 0.3s ease;
	border-radius: 50%;
	
}

table#player img:hover {
	opacity: 1;
	transition: 0.3s ease;
	border-radius: 50%;

}

/* LIODEN LOGO REPLACER - made by parrotte on DeviantArt*/

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/3wm9ngYP/image-2026-06-20-172822235-removebg-preview-ezgif-com-resize.png');
	
}

/* Featured Lion background Replacer */
img[src$="default.png"] {
	content: url(https://i.postimg.cc/66dssB20/image-2026-03-27-155244039-ezgif-com-crop.png);
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

.featured-lion{
	background-color: rgb(83,98,89);
	margin-top: 1px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

/* PAGEDOLL - Made by @mocha_mitsu on Twitter */
@media only screen and (min-width: 801px){
.container.main:after {
	background-image: url('https://i.postimg.cc/k5XLH1hR/image-2026-06-20-170143923-removebg-preview.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 400px;
	width: 400px;
	right: -70px;
	bottom: -30px;
	z-index: 1;
	pointer-events: none;

}

}

@media only screen and (max-width: 800px){
.container.main:after {
	background-image: url('https://i.postimg.cc/k5XLH1hR/image-2026-06-20-170143923-removebg-preview.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 200px;
	width: 200px;
	right: -20px;
	bottom: 0px;
	z-index: 1;
	pointer-events: none;

}

}

/* CURRENCY ICONS */
/* GOLD BEETLE */
img[src$="icon-beetle-gold.png"] {
	content: url('https://i.postimg.cc/9fCN9DYy/i-Ka-At3b.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* SILVER BEETLE */
img[src$="icon-beetle-silver.png"] {
	content: url('https://i.postimg.cc/TP0NJTtF/Qo-SGQDM.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* MEMBER ONLINE */
.member-online {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/xTN7VDdN/n-ZPCa-YF.png')!important;
	width: 20px !important;
	height: auto;
 
}
 
/* MEMBER OFFLINE */
.member-offline {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/fR4Pw232/6WRe-Elr.png')!important;	width: 20px !important;
	height: auto;
 
}

/* Space Shuttle - https://www.cursors-4u.com/cursor/mec8-11 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/space-shuttle-dd2c77fb-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */