/* Code credits */
/* Thank you to the following user's public CSS help threads for contributing to the code. */
/* #276513, #41458, #2230, #251887, #106445, #94329, #144118, #139 */

/* FONT (From Google Fonts) */

/*MOBILE BACKGROUND*/
@media only screen and (max-width: 800px){
body {
	background: url('https://i.postimg.cc/6pPbtcL0/image-2026-06-08-185120631.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;

}

/* Code from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/43058483#43058483 */
html:not(.nolayout) body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top: 0;
	height: 200vh; /* fix for mobile browser address bar appearing disappearing */
	left: 0;
	right: 0;
	z-index:-1; /* needed to keep in the background */
	background: url('https://i.postimg.cc/6pPbtcL0/image-2026-06-08-185120631.png') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff !important;

}

}

/* DESKTOP BACKGROUND */
@media only screen and (min-width: 801px){
body {
	background: url('https://i.postimg.cc/MKm86Cvr/thumb-1920-1068630.jpg') center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* safari may need this */
	font-size: 18px !important;
	color: #ffffff;

}

}

/* Comment Background Box */
div#commentBox{
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	
}

/* Leave Comment Background */
div#makeComment {
	border-radius: 0px;
	margin-bottom: 10px;
	visibility: hidden;
	
}

/* Leave Comment Input Box */
input#comment {
	visibility: visible;
	background: rgba(242, 174, 188,0.87) !important;
	border: solid 1px #D998A1 !important;
	border-radius: 10px;
	color: #fff !important;
	
}

/* Color behind the content of the elements listed above */
input, select, textarea {
	background: #E6BAC1 !important;
	border: solid 1px #D998A1 !important;
	border-radius: 10px;
	color: #ffffff !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font-size: 15px !important;

}

/* ODD COMMENTS */
.comment:nth-child(odd) {
	background: rgba(255,255,255, 0.1) !important;
	font-size: 13px !important;
	
}

/* EVEN COMMENTS */
.comment:nth-child(even) {
	background: rgba(255,255,255, 0.2) !important;
    font-size: 13px !important;


}

.text-muted {
	color: #ffffff !important;

}

/* MAIN PANEL */
/* RIGHT SIDE */
.container.main {
	background: rgba(241, 239, 242, 0.5) !important;
	color: #ffffff;
	border: none !important;
	border-radius: 10px;
	box-shadow: none;

}

/* LEFT SIDE */
.col-md-9 {
	background: none;
	border-right: none

}

/* TOPBAR ("Welcome back, ___") */
.topbar {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	padding: 10px;

}

/* NAVBAR (Den/Crossroads/Etc.) */
.navbar {
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #b85f6e 1px !important;
	box-shadow: 2px 2px 1px #b85f6e !important;
	border-radius: 10px;
	padding: 5px;
	
}

/* NAVBAR BUTTONS */
.navbar,.navbar-default .navbar-nav > li > a {
	background: none;
	color: #ffffff !important;
	font-size: 16px;
	padding: none;
	transition: 0.2s ease-in-out;

}

/* NAVBAR HOVER BUTTONS */
.navbar-default .navbar-nav > li > a:hover {
	background: none;
	color: #A3CDE5 !important;
	text-shadow: 1px 1px 2px #8DADC7, 0 0 1em #8DADC7, 0 0 0.2em #8DADC7 !important; 
	border-radius: 0px;
	transition: 0.2s ease-out;
	box-shadow: none;

}

/* SPECIFIC NAVBAR HOVER BUTTON */
.navbar-nav li:nth-child(0n+#) a:hover {
	background: /* COLOR */;
	
}

/* BREADCRUMB (Home / Den) */
.breadcrumb {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
}

/* BREADCRUMB TEXT */
.breadcrumb .active {
	color: #ffffff

}

/* ALL BUTTONS */
.select-control,button.button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	visibility: visible !important;
	background: #D998A1 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #A87D82 !important;
	border-radius: 10px !important;
	border: solid #fff 1px !important;
	box-shadow: 2px 2px 1px #fff !important;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	transition: 0.3s ease;
	font-size: 13px !important;

}

/* ALL HOVER BUTTONS */
button.button:hover, input:hover[type="submit"], input:hover[type="reset"], input:hover[type="button"], a.button:hover {
	visibility: visible !important;
	background: #E6BAC1 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #A87D82 !important;
	border-radius: 10px !important;
	border: solid #fff 1px !important;
	box-shadow: 2px 2px 1px #fff !important;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	transition: 0.3s ease;
	font-size: 13px !important;
	
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */
.alert, alert-danger, alert-warning {
	background: #f2ced3;
	background: linear-gradient(0deg,rgba(242, 206, 211, 1) 0%, rgba(255, 230, 235, 1) 1%, rgba(241, 239, 242, 1) 100%) !important;
	color: #D4A7AF !important;
	border: solid #D4A7AF 1px !important;
	box-shadow: 2px 2px 1px #D4A7AF !important;
	border-radius: 10px !important;

}

*/ Message Counter Notification */
.badge {
    background: #647163 !important;

}

/* BIGGEST HEADER ("___"'s DEN) */
h1 {
	background: none !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #b85f6e,0 0 1em #b85f6e,0 0 0.2em #b85f6e;
	text-align: center;
	font-size: 50px;
    

}

h1 small {
    color: #ffffff !important;

}

/* MEDIUM HEADER */
h2 {
	color: #ffffff !important;
	font-size: 20px;
	text-align: center

}

/* SMALL HEADER */
h3 {
	color: #ffffff !important;
	font-size: 15px !important

}

/* PANEL HEADER */
.sidebar h3 {
	padding: 5px !important;
	color: #fff !important;
	font-size: 20px !important;
	transition: 0.3s;


}

/* ALL RIGHT SIDE PANELS */
.panel {
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #b85f6e 1px !important;
	box-shadow: 2px 2px 1px #b85f6e !important;
	padding: 10px !important;

}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #b85f6e !important;
	border-radius: 10px !important;
	border: solid 1px #b85f6e !important;
	padding 4px;
    
}

/* ENERGY BAR TEXT */
.progress div {
    color: #ffffff !important;
    
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
 
/* ENERGY */
 div.progress-bar-warning {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px;

}
 
/* HUNGER */
 div.progress-bar-danger {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px;
     
}
 
/* EXP. */
 div.progress-bar-success {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px;
    
}
 
/* IMP. (Controlls All) */
 div.progress-bar {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px;
    
}
 
 
/* ACHIEVMENTS */
div:nth-child(2)>div>div>div.progress-bar.progress-bar-success {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px;
    
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(141, 173, 199, 0.4) !important;
	color: #ffffff !important;
	border: none !important
		
}

.s-chat-message:nth-child(odd), .s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(141, 173, 199, 0.6) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message__pinned,#chatMessagePinned.s-chat-message__pinned .s-chat-message_content /* Pinned Message */ {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	color: #ffffff;
	border: solid #708d9e 1px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: solid #708D9E 1px !important;
	box-shadow: 2px 2px 1px #708D9E !important;
	
}


button#label_currentChannel, .s-chat-sidebar #label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 1) 0%, rgba(141, 173, 199, 1) 1%, rgba(163, 205, 229, 1) 100%) !important;
	border-radius: 10px !important;
	color: #fff;
	border: 1px solid #708d9e;

}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */
/* PANEL BACKGROUND COLOR */
.table {
	background: rgba(242, 174, 188, 0.4);
	color: #ffffff;
	border-radius: 10px !important;
	border: none;
	box-shadow: none !important;
	padding: 5px;

}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top, th {
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #b85f6e 1px;
	box-shadow: 2px 2px 1px #b85f6e !important;
	border-radius: 10px !important;
	padding: 5px;
	font-size: 15px !important;
	
}

.bottom {
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #b85f6e 1px;
	box-shadow: 2px 2px 1px #b85f6e !important;
	border-radius: 10px;
	padding: 5px;
	font-size: 15px;

}

td.bottom a {
        text-decoration: none !important

}

/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%) !important;
	color: #ffffff;
	border: solid #b85f6e 1px !important;
	box-shadow: 2px 2px 1px #b85f6e !important;
	border-radius: 10px;
	font-size: 15px;

}

/* Color behind the number of all of the things above */
.inner-table .right {
	background: rgba(0,0,0,0.0) !important;
	border-radius: 0px;
	border: none !important;
	box-shadow: none !important;    
	font-size: 15px;


}

td.right {
	border-radius: 0px !important

}

/* IGNORE */
.right_odd {
	background: none !important

}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid, .mound-grid {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	opacity: 0.9 !important;
	transition: 0.3s ease;

}

div.cave-grid:hover, .mound-grid:hover {
	position: relative;
	transform: scale(1.03);
  background: rgba(141, 173, 199,1);
	opacity: 1 !important;


}

div.cave-grid img  {
	transition: 0.3s ease;
    opacity: 100%;

}

div.cave-grid img:hover, .mound-grid img:hover {
	position: relative;
	filter: saturate(2);
	transition: 0.3s ease;

}

/* CAVE / MOUND IMAGES */
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
	content: url('https://i.postimg.cc/bYC3PLRm/weve-animated-sylveon-card-from-prismatic-evolutions-what-v0-NXR3a-Gdlb-DRk-Y3ll-MXd-Hp1AJa-S1QLi-H2.webp')!important;


}

/*Nesting*/
img[src$="nestingbanner.png"] {
	content: url('https://i.postimg.cc/bYC3PLRm/weve-animated-sylveon-card-from-prismatic-evolutions-what-v0-NXR3a-Gdlb-DRk-Y3ll-MXd-Hp1AJa-S1QLi-H2.webp')!important;

}

/*Overview*/
img[src$="overviewbanner.png"] {
	content: url('https://i.postimg.cc/bYC3PLRm/weve-animated-sylveon-card-from-prismatic-evolutions-what-v0-NXR3a-Gdlb-DRk-Y3ll-MXd-Hp1AJa-S1QLi-H2.webp')!important;

}

/*Caves*/
img[src$="cavedefault.jpg"] {
	content: url("https://i.postimg.cc/3wYwnXzr/Sylveon-Illustration.webp") !important;

}

.mound-grid img {
	content: url(https://i.postimg.cc/QCXPzthg/b67d3f8abcccf5c6a4533004d03983fa.gif);
	height: 100px;
	width: 150px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	transition: ease 0.3s;

}

/* FEED ALL, PLAY ALL */
.feature {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	padding: 5px !important;
	

}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
.feature, div.left {
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%) !important;
	border-radius: 10px;
	color: #ffffff;
	border: solid #708d9e 2px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	transition: 0.2s ease;
	opacity: 0.9;

}

.feature, div.left:hover {
	filter: grayscale(0%);
	transition: 0.2s ease;
	position: relative;
	transform: scale(1.03);
	opacity: 1;

}

/* dynasty list adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
img[src$="den_ancestors.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/kgtMn1P2/a95a7e9c5be876e9aebbbaa2f57d3039.jpg') !important; 

}

img[src$="den_ancestorsfem.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/kgtMn1P2/a95a7e9c5be876e9aebbbaa2f57d3039.jpg') !important; 

}

img[src$="den_achievements.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/kgtMn1P2/a95a7e9c5be876e9aebbbaa2f57d3039.jpg') !important; 

}

img[src$="den_showcase.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/kgtMn1P2/a95a7e9c5be876e9aebbbaa2f57d3039.jpg') !important; 

}

img[src$="den_beetlebook.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/kgtMn1P2/a95a7e9c5be876e9aebbbaa2f57d3039.jpg') !important; 

}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
	flex-wrap: nowrap; 
	justify-content: space-between; 

}

.dynastylist {
	flex: 1 1 auto;
	max-width: 20%; 
	box-sizing: border-box; 
	transition: 0.3s ease;

}

.dynastylist:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* resizes all images to fit the new layout */
.dynastylist img {
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;

}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
	word-break: break-all;
	font-size: 12px !important; /* Adjust font size for all headers */

}
 
/* font option 2 - targets individual headers. delete this code if you're using font option one. */
.dynastylist:nth-child(1) h3 {
	font-size: 12px !important; /* king dynasty */

}

.dynastylist:nth-child(2) h3 {
	font-size: 12px !important; /* pride dynasty */

}

.dynastylist:nth-child(3) h3 {
	font-size: 12px !important; /* achievements */

}

.dynastylist:nth-child(4) h3 {
	font-size: 12px !important; /* showcase */

}

.dynastylist:nth-child(5) h3 {
	font-size: 12px !important; /* beetle book */

}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */
.table .left {
	background: rgba(242, 174, 188, 0.7);
        
}

.item-footer {
	background: rgba(54,68,58, 1);
	color: #ffffff !important;	

}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;

}

/* LINK COLOR */
a:link,
a:visited {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #BD5355, 0 0 1em #BD5355, 0 0 0.2em #BD5355; 
	transition: 0.3s ease;

}

/* LINK HOVER COLOR */
a:hover {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
	transition: 0.3s ease;

}
 
/* BOX CONTAINER */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex

}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
            
}

}

/* BOXES */
.smallhoverbox {
	float: left;
	background: #708d9e;
	background: linear-gradient(0deg,rgba(112, 141, 158, 0.8) 0%, rgba(141, 173, 199, 0.8) 1%, rgba(163, 205, 229, 0.8) 100%);
	color: #ffffff;
	border: solid #708d9e 1px !important;
	box-shadow: 2px 2px 1px #708d9e !important;
	color: #ffffff;
	border-radius: 10px !important;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 200px;
	overflow: auto;
	transition: 0.8s
		
}


.smallhoverbox:hover {
	height: 300px;
	width: 200px;
}

.smallhoverbox1 {
	float: left;
	background: #b85f6e;
	background: linear-gradient(0deg,rgba(184, 95, 110, 0.8) 0%, rgba(224, 128, 147, 0.8) 1%, rgba(242, 174, 188, 0.8) 100%);
	color: #ffffff;
	border: solid #b85f6e 1px !important;
	box-shadow: 2px 2px 1px #b85f6e !important;
	border-radius: 10px !important;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 200px;
	overflow: auto;
	transition: 0.8s
		
}

.smallhoverbox1:hover {
	height: 300px;
	width: 200px;
}


/* F2U Code by pun #139 on Lioden */
/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
.pun-credit {
        position: fixed;
        height: 25px;
        width: 200px;
        bottom: 0px;
        left: 0px;
        color: #ffffff !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
        transition: ease 0.3s;
        z-index: 100;
        background: rgba(0,0,0,0.8);
    

}

.pun-credit:hover {
	height: 280px;
	width: 200px;
	transition: ease 0.3s;

}

.pun-credit a {
        color: #ffffff !important;
        transition: ease 0.3s;

}

.pun-credit a:hover {
        opacity: 1 !important;
        transition: ease 0.3s;

}

.pun-credit:hover {
        opacity: 1;
        transition: ease 0.3s;

}

/* SCROLL BAR */
/* WIDTH */
::-webkit-scrollbar {
	width: 10px;
	z-index: 1;

}


/* BACKGROUND */
::-webkit-scrollbar-track {
	background: #D3E3F2;
	z-index: 1;
	border-radius: 10px;

}


/* "THUMB" */
::-webkit-scrollbar-thumb {
	background: #A3CDE5;
	border-radius: 10px;

}

/* LION AND USER AVATAR OPACITY */
div#lion_image {
	overflow: hidden;
	margin-top: 20px; 
	margin-left: 12px; 
	opacity: 0.8;
	transition: 0.5s ease;

}

div#lion_image:hover {
	opacity: 1;    

}

/* Code by Hok-Z (#170947) */
/* 'King Frame' */
#lion_image:after {
	content:url("https://i.postimg.cc/tCzZgzZN/ezgif-com-resize.png");
	position: absolute;
	left: -3px;
	top: 12px;

}

table#player img {
	opacity: 0.8;
	overflow: hidden;
	transition: 0.3s ease;
}

table#player img:hover {
	opacity: 1;
	transition: 0.3s ease;

}

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/YqKbnjqc/dbkhsdu-c1d70ef4-dfb8-4d74-8550-9ab760587c98.gif');
    height: 120px !important;
}

/* Featured Lion background Replacer */
img[src$="default.png"] {
	content: url(https://i.postimg.cc/66dssB20/image-2026-03-27-155244039-ezgif-com-crop.png);
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

.featured-lion{
	background-color: rgb(83,98,89);
	margin-top: 1px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit | https://pastebin.com/SFkVHTxi */
 
/* CAVE ARROWS */ 
img[src$="arrowgrayleft.png"] {
	content: url('https://i.postimg.cc/Twn2JjYB/grayleftarrow.png')!important;
	width: 50px !important;

}

img[src$="arrowgray.png"] {
	content: url('https://i.postimg.cc/Twn2Jj38/grayrightarrow.png')!important;
	width: 50px !important;

}
 
img[src$="arrow.png"] {
	content: url('https://i.postimg.cc/T1TTjVms/arrow.png')!important;
	width: 50px !important;

}
 
img[src$="arrowleft.png"] {
	content: url('https://i.postimg.cc/XqnnKfFD/arrow2.png')!important;
	width: 50px !important;

}

/* PAGEDOLL */
@media only screen and (min-width: 801px){
.container.main:after {
	background-image: url('https://i.postimg.cc/q7237cC8/6bdc03a5d04668afadef2d7a87d28176-removebg-preview-(1).png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 400px;
	width: 400px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	pointer-events: none;

}

}

@media only screen and (max-width: 800px){
.container.main:after {
	background-image: url('https://i.postimg.cc/q7237cC8/6bdc03a5d04668afadef2d7a87d28176-removebg-preview-(1).png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 200px;
	width: 200px;
	right: 15px;
	bottom: 0px;
	z-index: 1;
	pointer-events: none;

}

}

/* CURRENCY ICONS */
/* GOLD BEETLE */
img[src$="icon-beetle-gold.png"] {
	content: url('https://i.postimg.cc/nhQVHRfM/1e7e89c249af06a3676b262ca626af06-removebg-preview.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* SILVER BEETLE */
img[src$="icon-beetle-silver.png"] {
	content: url('https://i.postimg.cc/CxfMFPpL/blue.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* MEMBER ONLINE */
.member-online {
	background: rgba(207,207,207,0);
	content:url('https://i.postimg.cc/cL81s9GL/3789dbec25965d20b63354cc37ae48d7-removebg-preview.png')!important;
	width: 20px !important;
	height: auto;
 
}
 
/* MEMBER OFFLINE */
.member-offline {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/rwty8n2p/3789dbec25965d20b63354cc37ae48d7-removebg-preview-(1).png')!important;	width: 20px !important;
	height: auto;
 
}

/* Day Icon */
img[src$="icon-time-day.png"] {
	content: url('https://i.postimg.cc/FzMSRfzx/fairy-energy-card-vector-symbol-by-biochao-dezrx1n-fullview.png')!important;
	width: 15px !important;

}

/* Night Icon */
img[src$="icon-time-night.png"] {
	content: url('https://i.postimg.cc/J0fXny0c/dark-energy-card-vector-symbol-by-biochao-dezrx06-fullview.png')!important;
	width: 15px !important;

}

/* Dry Season Icon */
img[src$="icon-season-dry.png"] {
	content: url('https://i.postimg.cc/PJgDxLJb/fire-energy-card-vector-symbol-by-biochao-dezrx2m-pre.png')!important;
	width: 15px !important;

}

/* Wet Season Icon */
img[src$="icon-season-wet.png"] {
	content: url('https://i.postimg.cc/2ysW6qy7/water-energy-card-vector-symbol-by-biochao-dezrx5f-fullview.png')!important;
	width: 15px !important;

}

/* Love Ball - Pokemon - https://www.cursors-4u.com/cursor/love-ball-pokemon */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/love-ball-pokemon-bbea58e1-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */