/* Code credits */
/* Thank you to the following user's public CSS help threads for contributing to the code. */
/* #276513, #41458, #2230, #251887, #106445, #94329, #144118, #139 */

/* FONT (From Google Fonts) */

/*MOBILE BACKGROUND*/
@media only screen and (max-width: 800px){
body {
	background: url('https://i.postimg.cc/SQ1Zyh8V/Rose-Wallpaper-Mural-Artwork.webp') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	
}

/* Code from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/43058483#43058483 */
html:not(.nolayout) body:after {
	content:"";
	position:fixed; /* stretch a fixed position to the whole screen */
	top: 0;
	height: 200vh; /* fix for mobile browser address bar appearing disappearing */
	left: 0;
	right: 0;
	z-index:-1; /* needed to keep in the background */
	background: url('https://i.postimg.cc/SQ1Zyh8V/Rose-Wallpaper-Mural-Artwork.webp') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff !important;
	
}

}

/* DESKTOP BACKGROUND */
@media only screen and (min-width: 801px){
body {
	background: url('https://i.postimg.cc/SQ1Zyh8V/Rose-Wallpaper-Mural-Artwork.webp') center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* safari may need this */
	font-size: 18px !important;
	color: #ffffff;

}

}

/* Comment Topbar */
#commentBox::before {
	content: "Welcome! No gimmicks or roleplay please, thank you!";
	background: #805c5f;
	background: linear-gradient(0deg,rgba(128, 92, 95, 0.9) 0%, rgba(148, 120, 123, 0.9) 1%, rgba(209, 184, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #78464b 1px !important;
	border-radius: 0px;
	color: #ffffff;
	width: 100%;
	height: 40px;
	position: relative;
	display: block;
	padding-top: 10px !important;
	font-size: 15px;
	z-index: 1;
	
}

/* Comment Background Box */
div#commentBox{
	background: #805c5f;
	background: linear-gradient(0deg,rgba(128, 92, 95, 0.8) 0%, rgba(148, 120, 123, 0.8) 1%, rgba(209, 184, 187, 0.8) 100%);
	border: solid #805c5f 2px !important;
	box-shadow: 2px 2px 1px #805c5f !important;
	border-radius: 0px;
	color: #ffffff;
	filter: saturate(60%);
	
}

/* Leave Comment Background */
div#makeComment {
	border-radius: 0px;
	margin-bottom: 10px;
	visibility: hidden;
	
}

/* Leave Comment Input Box */
input#comment {
	visibility: visible;
	background: #BEAEB0;
	border: solid #805c5f 2px !important;
	box-shadow: 2px 2px 1px #805c5f !important;
	border-radius: 0px;

}

/* Color behind the content of the elements listed above */
input, select, textarea {
	background: #BEAEB0;
	border: solid #805c5f 2px !important;
	box-shadow: 2px 2px 1px #805c5f !important;
	border-radius: 0px;
	color: #ffffff !important;
	text-shadow: none !important
	box-shadow: none !important;
	font-size: 15px !important;
	
}

/* ODD COMMENTS */
.comment:nth-child(odd) {
	background: rgba(0,0,0, 0.1) !important;
	font-size: 13px !important;
	
}

/* EVEN COMMENTS */
.comment:nth-child(even) {
	background: rgba(0,0,0, 0.2) !important;
    font-size: 13px !important;


}

.text-muted {
	color: #ffffff !important;

}

/* MAIN PANEL */
/* RIGHT SIDE */
.container.main {
	background: rgba(0,0,0, 0.4) !important;
	color: #ffffff;
	border: solid #4D3D3D 1px !important;
	border-radius: 5px;
	box-shadow: none;

}

/* LEFT SIDE */
.col-md-9 {
	background: none;
	border-right: none

}

/* TOPBAR ("Welcome back, ___") */
.topbar {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px;
	padding: 10px;
	
}

/* NAVBAR (Den/Crossroads/Etc.) */
.navbar {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.9) 0%, rgba(132, 111, 113, 0.9) 1%, rgba(190, 174, 176, 0.9) 100%) !important;
	border: solid #4D3D3D 2px !important;
	box-shadow: none !important;
	color: #ffffff;
	border-radius: 0px;
	padding: 5px;
	
}

/* NAVBAR BUTTONS */
.navbar,.navbar-default .navbar-nav > li > a {
	background: none;
	color: #ffffff !important;
	font-size: 16px;
	padding: none;
	transition: 0.2s ease-in-out;

}

/* NAVBAR HOVER BUTTONS */
.navbar-default .navbar-nav > li > a:hover {
	background: none;
	color: #000 !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff !important; 
	border-radius: 0px;
	transition: 0.2s ease-out;
	box-shadow: none;

}

/* SPECIFIC NAVBAR HOVER BUTTON */
.navbar-nav li:nth-child(0n+#) a:hover {
	background: /* COLOR */;
	
}

/* BREADCRUMB (Home / Den) */
.breadcrumb {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px;
	
}

/* BREADCRUMB TEXT */
.breadcrumb .active {
	color: #ffffff

}

/* ALL BUTTONS */
.select-control,button.button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	visibility: visible !important;
	background: #846F71 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #7A6162 !important;
	font-size: 13px !important;
	border-radius: 0px !important;
	border: solid #4D3D3D 1px !important;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 5px;
	transition: 0.3s ease;

}

/* ALL HOVER BUTTONS */
button.button:hover, input:hover[type="submit"], input:hover[type="reset"], input:hover[type="button"], a.button:hover {
	visibility: visible !important;
	background: #BEAEB0 !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #7A6162 !important;
	border-radius: 0px !important;
	border: solid #4D3D3D 1px !important;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 5px;
	transition: 0.3s ease;
	
}

/* F2U Code by pun #139 on Lioden */
/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
.pun-credit {
        position: fixed;
	height: 20px;
	width: 200px;
        bottom: 0px;
        left: 0px;
        color: #ffffff !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
	padding: 5px;
	transition: ease 0.5s;
	z-index: 100;
        background: rgba(0,0,0,0.8);
    

}

.pun-credit:hover {
	height: 280px;
	width: 200px;
	transition: ease 0.5s;

}

.pun-credit a {
        color: #ffffff !important;

}

.pun-credit a:hover {
        opacity: 1 !important;

}

.pun-credit:hover {
        opacity: 1;
        transition: 2s;

}

/* For Mobile */
@media only screen and (max-width: 800px){ 
.pun-table {
        width: 600px;
        background: url('https://i.postimg.cc/YqwVRkMG/Screenshot-2026-03-01-224217.png') !important;
	filter: saturate(80%);
	background-position: left 25%;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
	border-radius: 5px;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	position: relative;

}

}

/* For Desktop */
@media only screen and (min-width: 800px){
.pun-table {
        width: 640px;
	height: 500px;
        background: url('https://i.postimg.cc/YqwVRkMG/Screenshot-2026-03-01-224217.png') !important;
	filter: saturate(80%);
	opacity: 0.8;
	border-radius: 5px;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	position: relative;

}

}

.pun-spacer {
        background: none;
        width: 320px;

}

/* For Desktop */
@media only screen and (min-width: 800px){ .pun-content {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px !important;
        text-align: justify;
        height: 400px;
	left: 330px;
        overflow: auto;
        width: 280px;
        padding: 20px;
        border-radius: 5px;
        font-size: 12px;
	position: relative;
}

}

/* For Mobile */
@media only screen and (max-width: 800px){ .pun-content {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px !important;
	text-align: justify;
        height: 400px;
	left: 260px;
        overflow: auto;
        width: 280px;
        padding: 20px;
        border-radius: 5px;
        font-size: 12px;
	position: relative;

}

}
.pun-content a {
        color: #ffffff !important;
        font-weight: normal !important;
        opacity: 0.5;

}

.pun-content a:hover {
        opacity: 1 !important;

}

.pun-links {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 0px;
	position: relative;

}

.pun-links a {
        color: #ffffff !important;

}

.pun-graphics {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
        text-align: center;
        border-radius: 0px;
	position: relative;

}

.pun-graphics a {
        color: #94c69c !important;
	border-radius: 10px;


}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */
.alert {
	background: #665f59;
	background: linear-gradient(0deg,rgba(102, 95, 89, 0.9) 0%, rgba(166, 160, 149, 0.9) 1%, rgba(181, 179, 172, 0.9) 100%);!important;
	color: #ffffff !important;
	border: solid #665f59 1px !important;
	box-shadow: 2px 2px 1px #665f59 !important;
	border-radius: 5px !important;

}

.alert-warning {
	background: #424541;
	background: linear-gradient(0deg,rgba(66, 69, 65, 1) 0%, rgba(88, 92, 87, 1) 1%, rgba(143, 156, 140, 1) 100%) !important;
	color: #ffffff !important;
	border: solid #424541 1px !important;
	box-shadow: 2px 2px 1px #424541 !important;
	border-radius: 5px !important;

}
.alert-danger {
	background: #694e55;
	background: linear-gradient(0deg,rgba(105, 78, 85, 0.9) 0%, rgba(161, 127, 138, 0.9) 1%, rgba(222, 177, 187, 0.9) 100%) !important;
	color: #ffffff !important;
	border: solid #694e55 1px !important;
	box-shadow: 2px 2px 1px #694e55 !important;
	border-radius: 5px;

}

*/ Message Counter Notification */
.badge {
    background: #647163 !important;

}

/* BIGGEST HEADER ("___"'s DEN) */
h1 {
	background: none !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000; 
	text-align: center;
	font-size: 50px;
    

}

h1 small {
    color: #ffffff !important;

}

/* MEDIUM HEADER */
h2 {
	color: #ffffff !important;
	font-size: 20px;
	text-align: center

}

/* SMALL HEADER */
h3 {
	color: #ffffff !important;
	font-size: 15px !important

}

/* PANEL HEADER */
.sidebar h3 {
	background: url("https://i.postimg.cc/SQ1Zyh8V/Rose-Wallpaper-Mural-Artwork.webp") !important;
	background-size: 100% !important;
	padding: 10px !important;
	border: solid #94686D 1px !important;
	border-radius: 0px;
	box-shadow: 2px 2px 1px #94686D !important;
	color: #fff !important;
	font-size: 20px !important;
	transition: 0.3s;


}

/* ALL RIGHT SIDE PANELS */
.panel {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.9) 0%, rgba(132, 111, 113, 0.9) 1%, rgba(190, 174, 176, 0.9) 100%) !important;
	border: solid #4D3D3D 2px !important;
	color: #ffffff;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	padding: 10px !important;

}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #4D3D3D !important;
	border-radius: 10px !important;
	border: solid 1px #4D3D3D !important;
	padding 4px;
    
}

/* ENERGY BAR TEXT */
.progress div {
    color: #ffffff !important;
    
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
 
/* ENERGY */
 div.progress-bar-warning {
    background: #A94448;
    background: linear-gradient(0deg,rgba(169, 68, 72, 1) 0%, rgba(189, 83, 85, 1) 1%, rgba(242, 150, 158, 1) 100%) !important;
	 filter: saturate(40%)

}
 
/* HUNGER */
 div.progress-bar-danger {
    background: #9c4133;
    background: linear-gradient(0deg,rgba(156, 65, 51, 1) 0%, rgba(219, 128, 114, 1) 1%, rgba(238, 183, 174, 1) 100%) !important;
	 filter: saturate(40%)
     
}
 
/* EXP. */
 div.progress-bar-success {
    background: #A94448;
    background: linear-gradient(0deg,rgba(169, 68, 72, 1) 0%, rgba(189, 83, 85, 1) 1%, rgba(242, 150, 158, 1) 100%) !important;
	 filter: saturate(40%)
    
}
 
/* IMP. (Controlls All) */
 div.progress-bar {
    background: linear-gradient(0deg,rgba(156, 65, 51, 1) 0%, rgba(219, 128, 114, 1) 1%, rgba(238, 183, 174, 1) 100%);
	 filter: saturate(40%)
    
}
 
 
/* ACHIEVMENTS */
div:nth-child(2)>div>div>div.progress-bar.progress-bar-success {
    background: #A94448;
    background: linear-gradient(0deg,rgba(169, 68, 72, 1) 0%, rgba(189, 83, 85, 1) 1%, rgba(242, 150, 158, 1) 100%) !important;
	filter: saturate(40%)
    
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(0,0,0, 0.4) !important;
    color: #ffffff !important;
	border: none !important
}

.s-chat-message:nth-child(odd), .s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(0,0,0, 0.6) !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message__pinned,#chatMessagePinned.s-chat-message__pinned .s-chat-message_content /* Pinned Message */ {
	background: #9c4133;
	background: linear-gradient(0deg,rgba(156, 65, 51, 1) 0%, rgba(219, 128, 114, 1) 1%, rgba(238, 183, 174, 1) 100%) !important;
	filter: saturate(40%);
	color: #ffffff;
	border: solid #9c4133 1px !important;
	color: #ffffff !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	filter: saturate(40%);
	color: #fff;
	border: 1px solid #A94448;
	border-radius: 0px !important;
	
}


button#label_currentChannel, .s-chat-sidebar #label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #A94448;
	background: linear-gradient(0deg,rgba(169, 68, 72, 1) 0%, rgba(189, 83, 85, 1) 1%, rgba(242, 150, 158, 1) 100%) !important;
	filter: saturate(40%);
	color: #fff;
	border: 1px solid #A94448;
	border-radius: 0px !important;

}

/* Chat Channel Dropdown Menu */
.s-chat-sidebar #fraChatChannelMenu {
	background: rgba(219, 128, 114, 0.8);
	border-radius: 0px;
	border: 1px solid #9c4133;
	box-shadow: 1px 1px 2px #AAA;
	color: #fff !mportant;
	
}

/* Current Chat Channel */
#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #9c4133;
	color: #fff !mportant;

}

/* Chat Channel Hover */
#fra_chatContainer .channelMenu .channelSwitcher:hover {
	background: rgba(219, 128, 114, 1) !important;
	color: #fff !mportant;
	transition: 0.2s

}

/* Chat Channel Text */
#fra_chatContainer .channelMenu .channelSwitcher {
	color: #ffffff !important;

}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */
/* PANEL BACKGROUND COLOR */
.table {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.5) 0%, rgba(132, 111, 113, 0.5) 1%, rgba(190, 174, 176, 0.5) 100%);
	color: #ffffff;
	border-radius: 5px;
	border: solid #4D3D3D 1px;
	box-shadow: 2px 2px 1px #4D3D3D;
	padding: 5px;

}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top, th {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.9) 0%, rgba(132, 111, 113, 0.9) 1%, rgba(190, 174, 176, 0.9) 100%) !important;
	border: solid #4D3D3D 1px !important;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px !important;
	font: hidden;
    
}

.bottom {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.9) 0%, rgba(132, 111, 113, 0.9) 1%, rgba(190, 174, 176, 0.9) 100%) !important;
	border: solid #4D3D3D 1px !important;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	color: #ffffff !important;
	border-radius: 0px !important;
	padding: 5px;
	font-size: 15px;

}

td.bottom a {
        text-decoration: none !important

}

/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
	background: #7a6162;
	background: linear-gradient(0deg,rgba(122, 97, 98, 0.9) 0%, rgba(132, 111, 113, 0.9) 1%, rgba(190, 174, 176, 0.9) 100%) !important;
	border: solid #4D3D3D 1px !important;
	box-shadow: 2px 2px 1px #4D3D3D !important;
	border-radius: 0px;
	font-size: 15px;

}

/* Color behind the number of all of the things above */
.inner-table .right {
	background: rgba(0,0,0,0.0);
	border-radius: 0px;
	border: none !important;
	box-shadow: none !important;    
	font-size: 15px;


}

td.right {
	border-radius: 0px !important

}

/* IGNORE */
.right_odd {
	background: none !important

}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid, .mound-grid {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	color: fff;
	border-radius: 0px;
	opacity: 0.9 !important;
	transition: 0.3s ease;

}

div.cave-grid:hover, .mound-grid:hover {
	position: relative;
	transform: scale(1.03);
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 1) 0%, rgba(168, 141, 137, 1) 1%, rgba(206, 189, 187, 1) 100%) !important;
	color: #ffffff;
	opacity: 1 !important;


}

div.cave-grid img  {
	transition: 0.3s ease;
    opacity: 100%;

}

div.cave-grid img:hover, .mound-grid img:hover {
	position: relative;
	filter: saturate(2);
	transition: 0.3s ease;

}

/* CAVE / MOUND IMAGES */
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
	content: url('https://i.postimg.cc/mksxLWK5/unsorted2.png')!important;


}

/*Nesting*/
img[src$="nestingbanner.png"] {
	content: url('https://i.postimg.cc/J0LwrCSF/nesting.png')!important;

}

/*Overview*/
img[src$="overviewbanner.png"] {
	content: url('https://i.postimg.cc/mksxLWK6/overview.png')!important;

}

/*Caves*/
img[src$="cavedefault.jpg"] {
	content: url("https://i.postimg.cc/8cpVyr6G/f27e5b48109417aa4adff715b04a33ba.jpg") !important;

}

/* Cave 1 */
a[href$="400856"] div.cave-grid img {
	content: url('https://i.postimg.cc/8cpVyr6G/f27e5b48109417aa4adff715b04a33ba.jpg')!important;

}

/* Cave 2 */
a[href$="403259"] div.cave-grid img {
	content: url('https://i.postimg.cc/nrFtdQQS/8bd713911b031f4b1b2a2347bf0ce212.jpg')!important;

}

/* Cave 3 */
a[href$="407284"] div.cave-grid img {
	content: url('https://i.postimg.cc/FzrQPJLQ/c135b9b766e096712cce2c90bb14ac45.jpg')!important;

}

/* Cave 4 */
a[href$="491492"] div.cave-grid img {
	content: url('https://i.postimg.cc/MH68sjQx/f67a534fc0e24391b190c83f7a770a92.jpg')!important;

}

/* Cave 5 */
a[href$="413423"] div.cave-grid img {
	content: url('https://i.postimg.cc/NFswNrHh/45d46077de8289f452d7d0cec63cdd5b.jpg')!important;

}

/* Cave 6 */
a[href$="402402"] div.cave-grid img {
	content: url('https://i.postimg.cc/d3sKWTyP/48c68be326286830ba827c3ead2876b2.jpg')!important;

}

/* Cave 7 */
a[href$="491494"] div.cave-grid img {
	content: url('https://i.postimg.cc/Xqj02yyR/adf243078225fa5c2c10170ff9331762.jpg')!important;

}

/* Cave 8 */
a[href$="491493"] div.cave-grid img {
	content: url('https://i.postimg.cc/SRSpZzMb/b1c279e2db91c363afeec99678085cb1.jpg')!important;

}

/* Cave 9 */
a[href$="415973"] div.cave-grid img {
	content: url('https://i.postimg.cc/Y0rwXmmn/1a697f6a6550608a3193e409d06aba72.jpg')!important;

}


div.mound-grid {
	visibility: hidden;
	position: absolute;
	top: 0px;

}

/* FEED ALL, PLAY ALL */
.feature {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	color: #ffffff;
	padding: 5px !important;
	

}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
.feature, div.left {
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	transition: 0.2s ease;
	opacity: 0.9;

}

.feature, div.left:hover {
	filter: grayscale(0%);
	transition: 0.2s ease;
	position: relative;
	transform: scale(1.03);
	opacity: 1;

}

/* dynasty list adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
img[src$="den_ancestors.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/KjJw0WzZ/0ba125bf51661ecc5c80edfc5a6585c0_ezgif_com_resize.jpg') !important; 

}

img[src$="den_ancestorsfem.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/HnBR6NxT/49cb56d49dc78ece4e269ee16a9ccc4a_ezgif_com_resize.jpg') !important; 

}

img[src$="den_achievements.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/KjJw0WzZ/0ba125bf51661ecc5c80edfc5a6585c0_ezgif_com_resize.jpg') !important; 

}

img[src$="den_showcase.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/HnBR6NxT/49cb56d49dc78ece4e269ee16a9ccc4a_ezgif_com_resize.jpg') !important; 

}

img[src$="den_beetlebook.png"] {
	background: none !important; 
	content: url('https://i.postimg.cc/KjJw0WzZ/0ba125bf51661ecc5c80edfc5a6585c0_ezgif_com_resize.jpg') !important; 

}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
	flex-wrap: nowrap; 
	justify-content: space-between; 

}

.dynastylist {
	flex: 1 1 auto;
	max-width: 20%; 
	box-sizing: border-box; 
	transition: 0.3s ease;

}

.dynastylist:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* resizes all images to fit the new layout */
.dynastylist img {
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;

}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
	word-break: break-all;
	font-size: 12px !important; /* Adjust font size for all headers */

}
 
/* font option 2 - targets individual headers. delete this code if you're using font option one. */
.dynastylist:nth-child(1) h3 {
	font-size: 12px !important; /* king dynasty */

}

.dynastylist:nth-child(2) h3 {
	font-size: 12px !important; /* pride dynasty */

}

.dynastylist:nth-child(3) h3 {
	font-size: 12px !important; /* achievements */

}

.dynastylist:nth-child(4) h3 {
	font-size: 12px !important; /* showcase */

}

.dynastylist:nth-child(5) h3 {
	font-size: 12px !important; /* beetle book */

}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */
.table .left {
	background: #BEAEB0;
        
}

.item-footer {
	background: rgba(54,68,58, 1);
	color: #ffffff !important;	

}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;

}

/* LINK COLOR */
a:link,
a:visited {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000; 
	transition: 0.3s ease;

}

/* LINK HOVER COLOR */
a:hover {
	color: #ffffff !important;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
	transition: 0.3s ease;

}
 
/* BOX CONTAINER */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex

}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
            
}

}

/* BOXES */
/* BOXES */
.smallbox {
	float: left;
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 28.4%;
	overflow: auto

}

.mediumbox {
	float: left;
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 200px;
	width: 310px;
	overflow: auto

}

.largebox {
	float: left;
	background: #846F71;
	background: linear-gradient(0deg,rgba(132, 111, 113, 0.9) 0%, rgba(168, 141, 137, 0.9) 1%, rgba(206, 189, 187, 0.9) 100%) !important;
	color: #ffffff;
	border: solid #846F71 1px !important;
	box-shadow: 2px 2px 1px #846F71 !important;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	height: 400px;
	width: 640px;
	overflow: auto

}

/* Box Topper 1 */
@media only screen and (min-width: 801px){.box-topper1 {
	content: url('https://i.postimg.cc/WzkTnNX5/250894.png');
	filter: saturate(80%);
	position: absolute;
	height: 150px;
	width: auto;
	top: -80px;
	right: 505px;
	z-index: 10;

}

}

/* Box Topper 2 */
@media only screen and (min-width: 801px){.box-topper2 {
	content: url('https://i.postimg.cc/yNct4PWv/451168.png');
	filter: saturate(80%);
	position: absolute;
	height: 250px;
	top: -120px;
	right: -100px;
	z-index: 10;

}

}

/* Box Topper 3 */
@media only screen and (min-width: 801px){.box-topper3 {
	content: url('https://i.postimg.cc/MZL13Gh7/367181-2.png');
	filter: saturate(80%);
	position: absolute;
	height: 250px;
	top: 720px;
	right: 700px;
	z-index: 10;

}

}

/* SCROLL BAR */
/* WIDTH */
::-webkit-scrollbar {
	width: 10px;
	z-index: 1;

}


/* BACKGROUND */
::-webkit-scrollbar-track {
	background: #BEAEB0;
	z-index: 1;
	border-radius: 0px;

}


/* "THUMB" */
::-webkit-scrollbar-thumb {
	background: #846F71;
	border-radius: 0px;

}


/* LION AND USER AVATAR OPACITY */
div#lion_image {
	overflow: hidden;
	border-radius: 50%;
	margin-top: 20px; 
	margin-left: 12px; 
	opacity: 0.8;
	transition: 0.5s ease;

}

div#lion_image:hover {
	opacity: 1;
	border-radius: 50%;
    

}

/* Code by Hok-Z (#170947) */
/* King Frame */
#lion_image:after {
	content:url("https://i.postimg.cc/ydrYw8gk/ezgif_com_resize_10_ezgif_com_effects.png");
	position: absolute;
	filter: saturate(60%);
	left: 8px;
	top: 19px;

}

table#player img {
	opacity: 0.8;
	overflow: hidden;
	transition: 0.3s ease;
}

table#player img:hover {
	opacity: 1;
	transition: 0.3s ease;

}

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/X7j96mv4/image-2026-03-01-210534862-ezgif-com-resize.png');
	filter: saturate(80%);
			
}

/* Featured Lion background Replacer */
img[src$="default.png"] {
	content: url(https://i.postimg.cc/66dssB20/image-2026-03-27-155244039-ezgif-com-crop.png);
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

.featured-lion{
	background-color: rgb(83,98,89);
	margin-top: 1px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 7px 3px #29332b !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit | https://pastebin.com/SFkVHTxi */
 
/* CAVE ARROWS */ 
img[src$="arrowgrayleft.png"] {
	content: url('https://i.postimg.cc/Twn2JjYB/grayleftarrow.png')!important;
	width: 50px !important;

}

img[src$="arrowgray.png"] {
	content: url('https://i.postimg.cc/Twn2Jj38/grayrightarrow.png')!important;
	width: 50px !important;

}
 
img[src$="arrow.png"] {
	content: url('https://i.postimg.cc/T1TTjVms/arrow.png')!important;
	width: 50px !important;

}
 
img[src$="arrowleft.png"] {
	content: url('https://i.postimg.cc/XqnnKfFD/arrow2.png')!important;
	width: 50px !important;

}

/* PAGEDOLL */
@media only screen and (min-width: 801px){
.container.main:after {
	background-image: url('https://i.postimg.cc/7ZDv84S2/Considerate-Lux-1.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 600px;
	width: 400px;
	right: 0px;
	bottom: -130px;
	z-index: 1;	
	filter: saturate(80%);
	pointer-events: none;

}

}

@media only screen and (max-width: 800px){
.container.main:after {
	background-image: url('https://i.postimg.cc/7ZDv84S2/Considerate-Lux-1.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	height: 400px;
	width: 200px;
	right: 15px;
	bottom: -20px;
	z-index: 1;
	filter: saturate(80%);
	pointer-events: none;

}

}

/* CURRENCY ICONS */
/* GOLD BEETLE */
img[src$="icon-beetle-gold.png"] {
	content: url('https://i.postimg.cc/jqD5Ypwt/pngimg_com_rose_PNG67006.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* SILVER BEETLE */
img[src$="icon-beetle-silver.png"] {
	content: url('https://i.postimg.cc/Y2v9B5Gt/pink.png')!important;
	width: 20px !important;
	filter: saturate(50%) !important;

}

/* January - Leather Beetles */
img[src$="icon_dermestid.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* January, May, September -  Doubloons */
img[src$="icon_doubloon.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* February - Heart Shells */
img[src$="HeartShell.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* March - Rhino Beetles */
img[src$="icon_beetlerhino.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* April - Easter Eggs */
img[src$="easteregg.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* May - Manticora Beetles */
img[src$="icon_beetlemant.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* June - Kephri Beetles */
img[src$="icon_khepri.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* July - Axion Cores */
img[src$="icon_axion.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* July - Meteorite Shards */
img[src$="shards.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* August - Carrion Beetles */
img[src$="icon_beetlecarrion.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* August - Dry Bones */
img[src$="icon_bone.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* September - Jewel Beetles */
img[src$="shards.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* September - Eldritch Tokens */
img[src$="shards.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* October - Blood Beetles */
img[src$="icon_beetleblood.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* November - Scarab Beetles */
img[src$="icon_scarabbeetle.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* December - Stink Bugs  */
img[src$="icon_stinkbug.png"] {
	filter: grayscale(100%);
	width: 20px !important;

}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* MEMBER ONLINE */
.member-online {
	background: rgba(207,207,207,0);
	content:url('https://i.postimg.cc/j2Y7LkKn/heart.png')!important;
	width: 20px !important;
	height: auto;
 
}
 
/* MEMBER OFFLINE */
.member-offline {
	background: rgba(207,207,207,0);
	content: url('https://i.postimg.cc/VvPCdH1r/images_removebg_preview.png')!important;
	width: 20px !important;
	height: auto;
 
}

/* Day Icon */
img[src$="icon-time-day.png"] {
	content: url('https://i.postimg.cc/k5Cdd2Qk/sun_icon_in_white_background_illustration_of_sun_icon_symbol_in_black_on_white_background_vector_rem.png')!important;
	width: 15px !important;

}

/* Night Icon */
img[src$="icon-time-night.png"] {
	content: url('https://i.postimg.cc/CK0VVRCy/pngtree_vector_moon_icon_png_image_5169292_removebg_preview_ezgif_com_resize.png')!important;
	width: 15px !important;

}

/* Dry Season Icon */
img[src$="icon-season-dry.png"] {
	content: url('https://i.postimg.cc/QMDrrFQv/fire_icon_flame_symbol_vector_18053390_ezgif_com_resize.png')!important;
	width: 15px !important;

}

/* Wet Season Icon */
img[src$="icon-season-wet.png"] {
	content: url('https://i.postimg.cc/g0pPPxVC/116251_removebg_preview_ezgif_com_resize.png')!important;
	width: 15px !important;

}

/* Message Icon */
img[src$="icon_den_message.png"] {
	content: url('https://i.postimg.cc/gjGGyV8b/icon_den_message.png')!important;
	width: 24px !important;

}

/* Gift Icon */
img[src$="icon_den_gift.png"] {
	content: url('https://i.postimg.cc/PJddbWZg/icon_den_gift.png')!important;
	width: 24px !important;

}

/* Trade Icon */
img[src$="icon_den_trade.png"] {
	content: url('https://i.postimg.cc/QCjjgQ5R/icon_den_trade.png')!important;
	width: 24px !important;

}

/* Wishlist Icon */
img[src$="icon_den_wishlist.png"] {
	content: url('https://i.postimg.cc/j2RR6HPV/icon_den_wishlist.png')!important;
	width: 24px !important;

}

/* View Trades Icon */
img[src$="icon_den_viewtrade.png"] {
	content: url('https://i.postimg.cc/C5wwCGD9/icon_den_viewtrade.png')!important;
	width: 24px !important;

}

/* Block Player Icon */
img[src$="icon_den_block.png"] {
	content: url('https://i.postimg.cc/x899GvH7/icon_den_block.png')!important;
	width: 24px !important;

}

/* Refer Friend Icon */
img[src$="icon_den_friend.png"] {
	content: url('https://i.postimg.cc/d3JJR2dx/icon_den_friend.png')!important;
	width: 24px !important;

}

/* Facebook */
img[src$="iconFB.png"] {
	content: url('https://i.postimg.cc/NGKpG9K3/442821.png')!important;
	width: 51px !important;
	transition: 0.5s ease;

}

img[src$="iconFB.png"]:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* Twitter */
img[src$="iconTwit.png"] {
	content: url('https://i.postimg.cc/Njc4xddt/367181.png')!important;
	width: 40px !important;
	transition: 0.5s ease;

}

img[src$="iconTwit.png"]:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* Twitch */
img[src$="iconTwitch.png"] {
	content: url('https://i.postimg.cc/7YM2869K/442821.png')!important;
	width: 51px !important;
	transition: 0.5s ease;

}

img[src$="iconTwitch.png"]:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* Youtube */
img[src$="iconYoutube.png"] {
	content: url('https://i.postimg.cc/x1XnGpXp/442821-2.png')!important;
	width: 51px !important;
	transition: 0.5s ease;

}

img[src$="iconYoutube.png"]:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* Instagram */
img[src$="iconInsta.png"] {
	content: url('https://i.postimg.cc/NGKpG9K3/442821.png')!important;
	width: 51px !important;
	transition: 0.5s ease;

}

img[src$="iconInsta.png"]:hover {
	transition: 0.5s ease;
	position: relative;
	transform: scale(1.03);

}

/* Oxygen Cherry - https://www.cursors-4u.com/cursor/oxygen-cherry-12 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/oxygen-cherry-5eda5de9-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */